# Table of Content
01. Import Libraries
02. Import Data
03. Include CPI
04. Derive New Columns
05. Change Data Types to Save Memory
06. Export Data

# 01. Import Libraries

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [2]:
# Adjust setting to allow seeing all the rows in the output of this notebook
pd.options.display.max_rows = None

In [3]:
# Adjust setting to allow seeing all the columns in the output of this notebook
pd.options.display.max_columns = None

# 02. Import Data

In [4]:
# Define the main project folder path
path = r'C:\Users\saich\Desktop\CareerFoundry\Data Immersion\Achievement 6 Advanced Analytics & Dashboard Design\11-2023 HDB Flat Resale Analysis'

In [5]:
# 1) 'flat_resale' 

# Import 'flat_resale_all_w_nearest_stn (geodata).pkl' from 'Prepared Data' folder
flat_resale = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'flat_resale_all_w_nearest_stn (geodata).pkl'))

In [6]:
flat_resale.shape

(915371, 20)

In [7]:
flat_resale.head()

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,resale_price,remaining_lease,row_id,address,latitude,longitude,geometry,nearest_station,station_distance,station_opening,station_closure
0,1990-01-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,10 TO 12,31.0,Improved,1977,9000.0,86,0,309 ANG MO KIO AVE 1,1.365517,103.843968,POINT (29185.176 38617.449),Ang Mo Kio MRT Station (NS16),790.831215,1987-11-07,NaT
1,1990-01-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,04 TO 06,31.0,Improved,1977,6000.0,86,1,309 ANG MO KIO AVE 1,1.365517,103.843968,POINT (29185.176 38617.449),Ang Mo Kio MRT Station (NS16),790.831215,1987-11-07,NaT
2,1990-01-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,10 TO 12,31.0,Improved,1977,8000.0,86,2,309 ANG MO KIO AVE 1,1.365517,103.843968,POINT (29185.176 38617.449),Ang Mo Kio MRT Station (NS16),790.831215,1987-11-07,NaT
3,1990-01-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,07 TO 09,31.0,Improved,1977,6000.0,86,3,309 ANG MO KIO AVE 1,1.365517,103.843968,POINT (29185.176 38617.449),Ang Mo Kio MRT Station (NS16),790.831215,1987-11-07,NaT
4,1990-01-01,ANG MO KIO,3 ROOM,216,ANG MO KIO AVE 1,04 TO 06,73.0,New Generation,1976,47200.0,85,4,216 ANG MO KIO AVE 1,1.366197,103.841505,POINT (28911.052 38692.617),Ang Mo Kio MRT Station (NS16),986.842379,1987-11-07,NaT

In [8]:
# 2) 'train_station'

# Import 'train_station_w_coord (geodata).pkl' from 'Prepared Data' folder
train_station = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'train_station_w_coord (geodata).pkl'))

In [9]:
train_station

,station_code,station_name,line,opening,closure,station_name_w_code,latitude,longitude,geometry,closure_w_dummy,opening_yymm,closure_w_dummy_yymm
0,NS1,Jurong East,North-South Line,1990-03-10,NaT,Jurong East MRT Station (NS1),1.333153,103.742286,POINT (17869.057 35038.969),2099-01-01,1990-03-01,2099-01-01
1,NS2,Bukit Batok,North-South Line,1990-03-10,NaT,Bukit Batok MRT Station (NS2),1.349033,103.749566,POINT (18679.322 36794.926),2099-01-01,1990-03-01,2099-01-01
2,NS3,Bukit Gombak,North-South Line,1990-03-10,NaT,Bukit Gombak MRT Station (NS3),1.358612,103.751791,POINT (18926.913 37854.036),2099-01-01,1990-03-01,2099-01-01
3,NS4,Choa Chu Kang,North-South Line,1990-03-10,NaT,Choa Chu Kang MRT Station (NS4),1.385363,103.744371,POINT (18101.247 40812.122),2099-01-01,1990-03-01,2099-01-01
4,NS5,Yew Tee,North-South Line,1996-02-10,NaT,Yew Tee MRT Station (NS5),1.397535,103.747405,POINT (18438.983 42158.018),2099-01-01,1996-02-01,2099-01-01
5,NS7,Kranji,North-South Line,1996-02-10,NaT,Kranji MRT Station (NS7),1.425087,103.762137,POINT (20078.587 45204.517),2099-01-01,1996-02-01,2099-01-01
6,NS8,Marsiling,North-South Line,1996-02-10,NaT,Marsiling MRT Station (NS8),1.432521,103.774075,POINT (21407.041 46026.513),2099-01-01,1996-02-01,2099-01-01
7,NS9,Woodlands,North-South Line,1996-02-10,NaT,Woodlands MRT Station (NS9),1.436820,103.786067,POINT (22741.598 46501.786),2099-01-01,1996-02-01,2099-01-01
8,NS10,Admiralty,North-South Line,1996-02-10,NaT,Admiralty MRT Station (NS10),1.440589,103.800991,POINT (24402.387 46918.507),2099-01-01,1996-02-01,2099-01-01
9,NS11,Sembawang,North-South Line,1996-02-10,NaT,Sembawang MRT Station (NS11),1.449051,103.820046,POINT (26522.988 47854.200),2099-01-01,1996-02-01,2099-01-01
10,NS12,Canberra,North-South Line,2019-11-02,NaT,Canberra MRT Station (NS12),1.443077,103.829703,POINT (27597.597 47193.601),2099-01-01,2019-11-01,2099-01-01
11,NS13,Yishun,North-South Line,1988-12-20,NaT,Yishun MRT Station (NS13),1.429443,103.835005,POINT (28187.679 45686.071),2099-01-01,1988-12-01,2099-01-01
12,NS14,Khatib,North-South Line,1988-12-20,NaT,Khatib MRT Station (NS14),1.417383,103.832980,POINT (27962.311 44352.568),2099-01-01,1988-12-01,2099-01-01
13,NS15,Yio Chu Kang,North-South Line,1987-11-07,NaT,Yio Chu Kang MRT Station (NS15),1.381756,103.844947,POINT (29294.126 40413.063),2099-01-01,1987-11-01,2099-01-01
14,NS16,Ang Mo Kio,North-South Line,1987-11-07,NaT,Ang Mo Kio MRT Station (NS16),1.369933,103.849558,POINT (29807.261 39105.736),2099-01-01,1987-11-01,2099-01-01
15,NS17,Bishan,North-South Line,1987-11-07,NaT,Bishan MRT Station (NS17),1.350839,103.848144,POINT (29649.899 36994.433),2099-01-01,1987-11-01,2099-01-01
16,NS18,Braddell,North-South Line,1987-11-07,NaT,Braddell MRT Station (NS18),1.340469,103.846799,POINT (29500.235 35847.772),2099-01-01,1987-11-01,2099-01-01
17,NS19,Toa Payoh,North-South Line,1987-11-07,NaT,Toa Payoh MRT Station (NS19),1.332629,103.847502,POINT (29578.489 34980.896),2099-01-01,1987-11-01,2099-01-01
18,NS20,Novena,North-South Line,1987-12-12,NaT,Novena MRT Station (NS20),1.320441,103.843826,POINT (29169.330 33633.154),2099-01-01,1987-12-01,2099-01-01
19,NS21,Newton,North-South Line,1987-12-12,NaT,Newton MRT Station (NS21),1.312319,103.837985,POINT (28519.283 32735.077),2099-01-01,1987-12-01,2099-01-01
20,NS22,Orchard,North-South Line,1987-12-12,NaT,Orchard MRT Station (NS22),1.303980,103.832245,POINT (27880.548 31813.017),2099-01-01,1987-12-01,2099-01-01
21,NS23,Somerset,North-South Line,1987-12-12,NaT,Somerset MRT Station (NS23),1.300264,103.839086,POINT (28641.835 31402.125),2099-01-01,1987-12-01,2099-01-01
22,NS24,Dhoby Ghaut,North-South Line,1987-12-12,NaT,Dhoby Ghaut MRT Station (NS24),1.298701,103.846114,POINT (29423.980 31229.316),2099-01-01,1987-12-01,2099-01-01
23,NS25,City Hall,North-South Line,1987-12-12,NaT,City Hall MRT Station (NS25),1.292937,103.852586,POINT (30144.250 30591.901),2099-01-01,1987-12-01,2099-01-01
24,NS26,Raffles Place,North-South Line,1987-12-12,NaT,Raffles Place MRT Station (NS26),1.284126,103.851462,POINT (30019.181 29617.613),2099-01-01,1987-12-01,2099-01-01
25,NS27,Marina Bay,North-South Line,1989-11-04,NaT,Marina Bay MRT Station (NS27),1.276410,103.854596,POINT (30367.955 28764.496),2099-01-01,1989-11-01,2099-01-01
26,NS28,Marina South Pier,North-South Line,2014-11-23,NaT,Marina South Pier MRT Station (NS28),1.271027,103.862448,POINT (31241.826 28169.251),2099-01-01,2014-11-01,2099-01-01
27,EW1,Pasir Ris,East-West Line,1989-12-16,NaT,Pasir Ris MRT Station (EW1),1.373043,103.949285,POINT (40905.597 39449.982),2099-01-01,1989-12-01,2099-01-01
28,EW2,Tampines,East-West Line,1989-12-16,NaT,Tampines MRT Station (EW2),1.353302,103.945145,POINT (40444.973 37267.026),2099-01-01,1989-12-01,2099-01-01
29,EW3,Simei,East-West Line,1989-12-16,NaT,Simei MRT Station (EW3),1.343197,103.953377,POINT (41361.228 36149.753),2099-01-01,1989-12-01,2099-01-01
30,EW4,Tanah Merah,East-West Line,1989-11-04,NaT,Tanah Merah MRT Station (EW4),1.327187,103.946349,POINT (40579.100 34379.432),2099-01-01,1989-11-01,2099-01-01
31,EW5,Bedok,East-West Line,1989-11-04,NaT,Bedok MRT Station (EW5),1.323980,103.929984,POINT (38757.952 34024.705),2099-01-01,1989-11-01,2099-01-01
32,EW6,Kembangan,East-West Line,1989-11-04,NaT,Kembangan MRT Station (EW6),1.321038,103.912948,POINT (36861.961 33699.344),2099-01-01,1989-11-01,2099-01-01
33,EW7,Eunos,East-West Line,1989-11-04,NaT,Eunos MRT Station (EW7),1.319784,103.903226,POINT (35779.988 33560.586),2099-01-01,1989-11-01,2099-01-01
34,EW8,Paya Lebar,East-West Line,1989-11-04,NaT,Paya Lebar MRT Station (EW8),1.318111,103.893061,POINT (34648.724 33375.669),2099-01-01,1989-11-01,2099-01-01
35,EW9,Aljunied,East-West Line,1989-11-04,NaT,Aljunied MRT Station (EW9),1.316433,103.882906,POINT (33518.605 33190.002),2099-01-01,1989-11-01,2099-01-01
36,EW10,Kallang,East-West Line,1989-11-04,NaT,Kallang MRT Station (EW10),1.311489,103.871387,POINT (32236.604 32643.330),2099-01-01,1989-11-01,2099-01-01
37,EW11,Lavender,East-West Line,1989-11-04,NaT,Lavender MRT Station (EW11),1.307378,103.862768,POINT (31277.406 32188.734),2099-01-01,1989-11-01,2099-01-01
38,EW12,Bugis,East-West Line,1989-11-04,NaT,Bugis MRT Station (EW12),1.300465,103.855707,POINT (30491.600 31424.351),2099-01-01,1989-11-01,2099-01-01
39,EW13,City Hall,East-West Line,1987-12-12,NaT,City Hall MRT Station (EW13),1.292937,103.852586,POINT (30144.250 30591.901),2099-01-01,1987-12-01,2099-01-01
40,EW14,Raffles Place,East-West Line,1987-12-12,NaT,Raffles Place MRT Station (EW14),1.284126,103.851462,POINT (30019.181 29617.613),2099-01-01,1987-12-01,2099-01-01
41,EW15,Tanjong Pagar,East-West Line,1987-12-12,NaT,Tanjong Pagar MRT Station (EW15),1.276561,103.845725,POINT (29380.757 28781.188),2099-01-01,1987-12-01,2099-01-01
42,EW16,Outram Park,East-West Line,1987-12-12,NaT,Outram Park MRT Station (EW16),1.281405,103.839131,POINT (28646.873 29316.780),2099-01-01,1987-12-01,2099-01-01
43,EW17,Tiong Bahru,East-West Line,1988-03-12,NaT,Tiong Bahru MRT Station (EW17),1.286103,103.827445,POINT (27346.332 29836.204),2099-01-01,1988-03-01,2099-01-01
44,EW18,Redhill,East-West Line,1988-03-12,NaT,Redhill MRT Station (EW18),1.289635,103.816741,POINT (26155.053 30226.760),2099-01-01,1988-03-01,2099-01-01
45,EW19,Queenstown,East-West Line,1988-03-12,NaT,Queenstown MRT Station (EW19),1.294551,103.806077,POINT (24968.267 30770.391),2099-01-01,1988-03-01,2099-01-01
46,EW20,Commonwealth,East-West Line,1988-03-12,NaT,Commonwealth MRT Station (EW20),1.302502,103.798229,POINT (24094.795 31649.599),2099-01-01,1988-03-01,2099-01-01
47,EW21,Buona Vista,East-West Line,1988-03-12,NaT,Buona Vista MRT Station (EW21),1.307224,103.790254,POINT (23207.258 32171.715),2099-01-01,1988-03-01,2099-01-01
48,EW22,Dover,East-West Line,2001-10-18,NaT,Dover MRT Station (EW22),1.311405,103.778638,POINT (21914.551 32634.119),2099-01-01,2001-10-01,2099-01-01
49,EW23,Clementi,East-West Line,1988-03-12,NaT,Clementi MRT Station (EW23),1.315116,103.765191,POINT (20418.106 33044.494),2099-01-01,1988-03-01,2099-01-01
50,EW24,Jurong East,East-West Line,1988-11-05,NaT,Jurong East MRT Station (EW24),1.333153,103.742286,POINT (17869.057 35038.969),2099-01-01,1988-11-01,2099-01-01
51,EW25,Chinese Garden,East-West Line,1988-11-05,NaT,Chinese Garden MRT Station (EW25),1.342353,103.732597,POINT (16790.747 36056.302),2099-01-01,1988-11-01,2099-01-01
52,EW26,Lakeside,East-West Line,1988-11-05,NaT,Lakeside MRT Station (EW26),1.344259,103.720949,POINT (15494.497 36267.147),2099-01-01,1988-11-01,2099-01-01
53,EW27,Boon Lay,East-West Line,1990-07-06,NaT,Boon Lay MRT Station (EW27),1.338604,103.706065,POINT (13837.983 35641.919),2099-01-01,1990-07-01,2099-01-01
54,EW28,Pioneer,East-West Line,2009-02-28,NaT,Pioneer MRT Station (EW28),1.337587,103.697322,POINT (12864.970 35529.512),2099-01-01,2009-02-01,2099-01-01
55,EW29,Joo Koon,East-West Line,2009-02-28,NaT,Joo Koon MRT Station (EW29),1.327717,103.678375,POINT (10756.338 34438.262),2099-01-01,2009-02-01,2099-01-01
56,EW30,Gul Circle,East-West Line,2017-06-18,NaT,Gul Circle MRT Station (EW30),1.319471,103.660530,POINT (8770.352 33526.573),2099-01-01,2017-06-01,2099-01-01
57,EW31,Tuas Crescent,East-West Line,2017-06-18,NaT,Tuas Crescent MRT Station (EW31),1.321027,103.649078,POINT (7495.838 33698.726),2099-01-01,2017-06-01,2099-01-01
58,EW32,Tuas West Road,East-West Line,2017-06-18,NaT,Tuas West Road MRT Station (EW32),1.329985,103.639617,POINT (6442.929 34689.352),2099-01-01,2017-06-01,2099-01-01
59,EW33,Tuas Link,East-West Line,2017-06-18,NaT,Tuas Link MRT Station (EW33),1.340882,103.636991,POINT (6150.863 35894.358),2099-01-01,2017-06-01,2099-01-01
60,CG1,Expo,Changi Airport Branch Line,2001-01-10,NaT,Expo MRT Station (CG1),1.334550,103.961548,POINT (42270.623 35193.622),2099-01-01,2001-01-01,2099-01-01
61,CG2,Changi Airport,Changi Airport Branch Line,2002-02-08,NaT,Changi Airport MRT Station (CG2),1.357479,103.987884,POINT (45201.320 37729.193),2099-01-01,2002-02-01,2099-01-01
62,NE1,HarbourFront,North East Line,2003-06-20,NaT,HarbourFront MRT Station (NE1),1.265389,103.821530,POINT (26688.037 27545.853),2099-01-01,2003-06-01,2099-01-01
63,NE3,Outram Park,North East Line,2003-06-20,NaT,Outram Park MRT Station (NE3),1.279721,103.839440,POINT (28681.249 29130.522),2099-01-01,2003-06-01,2099-01-01
64,NE4,Chinatown,North East Line,2003-06-20,NaT,Chinatown MRT Station (NE4),1.284360,103.843427,POINT (29124.948 29643.480),2099-01-01,2003-06-01,2099-01-01
65,NE5,Clarke Quay,North East Line,2003-06-20,NaT,Clarke Quay MRT Station (NE5),1.288386,103.846555,POINT (29473.125 30088.704),2099-01-01,2003-06-01,2099-01-01
66,NE6,Dhoby Ghaut,North East Line,2003-06-20,NaT,Dhoby Ghaut MRT Station (NE6),1.299705,103.845489,POINT (29354.408 31340.251),2099-01-01,2003-06-01,2099-01-01
67,NE7,Little India,North East Line,2003-06-20,NaT,Little India MRT Station (NE7),1.306800,103.849647,POINT (29817.209 32124.850),2099-01-01,2003-06-01,2099-01-01
68,NE8,Farrer Park,North East Line,2003-06-20,NaT,Farrer Park MRT Station (NE8),1.311906,103.853478,POINT (30243.521 32689.380),2099-01-01,2003-06-01,2099-01-01
69,NE9,Boon Keng,North East Line,2003-06-20,NaT,Boon Keng MRT Station (NE9),1.319336,103.861569,POINT (31144.045 33510.975),2099-01-01,2003-06-01,2099-01-01
70,NE10,Potong Pasir,North East Line,2003-06-20,NaT,Potong Pasir MRT Station (NE10),1.331379,103.869056,POINT (31977.167 34842.725),2099-01-01,2003-06-01,2099-01-01
71,NE11,Woodleigh,North East Line,2011-06-20,NaT,Woodleigh MRT Station (NE11),1.339190,103.870818,POINT (32173.319 35706.379),2099-01-01,2011-06-01,2099-01-01
72,NE12,Serangoon,North East Line,2003-06-20,NaT,Serangoon MRT Station (NE12),1.349708,103.873575,POINT (32480.073 36869.393),2099-01-01,2003-06-01,2099-01-01
73,NE13,Kovan,North East Line,2003-06-20,NaT,Kovan MRT Station (NE13),1.360179,103.885065,POINT (33758.758 38027.279),2099-01-01,2003-06-01,2099-01-01
74,NE14,Hougang,North East Line,2003-06-20,NaT,Hougang MRT Station (NE14),1.371292,103.892381,POINT (34572.875 39256.128),2099-01-01,2003-06-01,2099-01-01
75,NE15,Buangkok,North East Line,2006-01-15,NaT,Buangkok MRT Station (NE15),1.382870,103.893123,POINT (34655.425 40536.340),2099-01-01,2006-01-01,2099-01-01
76,NE16,Sengkang,North East Line,2003-06-20,NaT,Sengkang MRT Station (NE16),1.391695,103.895485,POINT (34918.274 41512.128),2099-01-01,2003-06-01,2099-01-01
77,NE17,Punggol,North East Line,2003-06-20,NaT,Punggol MRT Station (NE17),1.404547,103.902073,POINT (35651.383 42933.248),2099-01-01,2003-06-01,2099-01-01
78,CC1,Dhoby Ghaut,Circle Line,2010-04-17,NaT,Dhoby Ghaut MRT Station (CC1),1.298912,103.846293,POINT (29443.882 31252.572),2099-01-01,2010-04-01,2099-01-01
79,CC2,Bras Basah,Circle Line,2010-04-17,NaT,Bras Basah MRT Station (CC2),1.296862,103.850667,POINT (29930.767 31025.902),2099-01-01,2010-04-01,2099-01-01
80,CC3,Esplanade,Circle Line,2010-04-17,NaT,Esplanade MRT Station (CC3),1.293658,103.855081,POINT (30421.993 30671.628),2099-01-01,2010-04-01,2099-01-01
81,CC4,Promenade,Circle Line,2010-04-17,NaT,Promenade MRT Station (CC4),1.293998,103.860350,POINT (31008.362 30709.258),2099-01-01,2010-04-01,2099-01-01
82,CC5,Nicoll Highway,Circle Line,2010-04-17,NaT,Nicoll Highway MRT Station (CC5),1.299767,103.863637,POINT (31374.165 31347.153),2099-01-01,2010-04-01,2099-01-01
83,CC6,Stadium,Circle Line,2010-04-17,NaT,Stadium MRT Station (CC6),1.302812,103.875338,POINT (32676.348 31683.941),2099-01-01,2010-04-01,2099-01-01
84,CC7,Mountbatten,Circle Line,2010-04-17,NaT,Mountbatten MRT Station (CC7),1.306202,103.882528,POINT (33476.563 32058.742),2099-01-01,2010-04-01,2099-01-01
85,CC8,Dakota,Circle Line,2010-04-17,NaT,Dakota MRT Station (CC8),1.308548,103.889065,POINT (34204.025 32318.174),2099-01-01,2010-04-01,2099-01-01
86,CC9,Paya Lebar,Circle Line,2010-04-17,NaT,Paya Lebar MRT Station (CC9),1.317247,103.892261,POINT (34559.692 33280.118),2099-01-01,2010-04-01,2099-01-01
87,CC10,MacPherson,Circle Line,2010-04-17,NaT,MacPherson MRT Station (CC10),1.326078,103.890391,POINT (34351.618 34256.514),2099-01-01,2010-04-01,2099-01-01
88,CC11,Tai Seng,Circle Line,2010-04-17,NaT,Tai Seng MRT Station (CC11),1.335142,103.888389,POINT (34128.792 35258.749),2099-01-01,2010-04-01,2099-01-01
89,CC12,Bartley,Circle Line,2009-05-28,NaT,Bartley MRT Station (CC12),1.342501,103.880178,POINT (33214.934 36072.526),2099-01-01,2009-05-01,2099-01-01
90,CC13,Serangoon,Circle Line,2009-05-28,NaT,Serangoon MRT Station (CC13),1.350634,103.872772,POINT (32390.685 36971.755),2099-01-01,2009-05-01,2099-01-01
91,CC14,Lorong Chuan,Circle Line,2009-05-28,NaT,Lorong Chuan MRT Station (CC14),1.351612,103.864152,POINT (31431.405 37079.944),2099-01-01,2009-05-01,2099-01-01
92,CC15,Bishan,Circle Line,2009-05-28,NaT,Bishan MRT Station (CC15),1.351316,103.849140,POINT (29760.776 37047.157),2099-01-01,2009-05-01,2099-01-01
93,CC16,Marymount,Circle Line,2009-05-28,NaT,Marymount MRT Station (CC16),1.348707,103.839423,POINT (28679.369 36758.714),2099-01-01,2009-05-01,2099-01-01
94,CC17,Caldecott,Circle Line,2011-10-08,NaT,Caldecott MRT Station (CC17),1.337675,103.839530,POINT (28691.245 35538.768),2099-01-01,2011-10-01,2099-01-01
95,CC19,Botanic Gardens,Circle Line,2011-10-08,NaT,Botanic Gardens MRT Station (CC19),1.322114,103.814985,POINT (25959.601 33818.144),2099-01-01,2011-10-01,2099-01-01
96,CC20,Farrer Road,Circle Line,2011-10-08,NaT,Farrer Road MRT Station (CC20),1.317439,103.807379,POINT (25113.201 33301.260),2099-01-01,2011-10-01,2099-01-01
97,CC21,Holland Village,Circle Line,2011-10-08,NaT,Holland Village MRT Station (CC21),1.312240,103.796399,POINT (23891.215 32726.413),2099-01-01,2011-10-01,2099-01-01
98,CC22,Buona Vista,Circle Line,2011-10-08,NaT,Buona Vista MRT Station (CC22),1.306635,103.790709,POINT (23257.993 32106.563),2099-01-01,2011-10-01,2099-01-01
99,CC23,one-north,Circle Line,2011-10-08,NaT,one-north MRT Station (CC23),1.299760,103.787458,POINT (22896.073 31346.408),2099-01-01,2011-10-01,2099-01-01
100,CC24,Kent Ridge,Circle Line,2011-10-08,NaT,Kent Ridge MRT Station (CC24),1.293533,103.784573,POINT (22575.011 30657.933),2099-01-01,2011-10-01,2099-01-01
101,CC25,Haw Par Villa,Circle Line,2011-10-08,NaT,Haw Par Villa MRT Station (CC25),1.282571,103.781753,POINT (22261.143 29445.802),2099-01-01,2011-10-01,2099-01-01
102,CC26,Pasir Panjang,Circle Line,2011-10-08,NaT,Pasir Panjang MRT Station (CC26),1.276214,103.791350,POINT (23329.265 28742.766),2099-01-01,2011-10-01,2099-01-01
103,CC27,Labrador Park,Circle Line,2011-10-08,NaT,Labrador Park MRT Station (CC27),1.272254,103.802632,POINT (24584.775 28304.944),2099-01-01,2011-10-01,2099-01-01
104,CC28,Telok Blangah,Circle Line,2011-10-08,NaT,Telok Blangah MRT Station (CC28),1.270706,103.809762,POINT (25378.291 28133.799),2099-01-01,2011-10-01,2099-01-01
105,CC29,HarbourFront,Circle Line,2011-10-08,NaT,HarbourFront MRT Station (CC29),1.265389,103.821530,POINT (26688.037 27545.853),2099-01-01,2011-10-01,2099-01-01
106,CE1,Bayfront,Circle Line Extension,2012-01-14,NaT,Bayfront MRT Station (CE1),1.281874,103.859080,POINT (30867.009 29368.625),2099-01-01,2012-01-01,2099-01-01
107,CE2,Marina Bay,Circle Line Extension,2012-01-14,NaT,Marina Bay MRT Station (CE2),1.276251,103.855447,POINT (30462.735 28746.934),2099-01-01,2012-01-01,2099-01-01
108,DT1,Bukit Panjang,Downtown Line,2015-12-27,NaT,Bukit Panjang MRT Station (DT1),1.379002,103.761535,POINT (20011.398 40108.684),2099-01-01,2015-12-01,2099-01-01
109,DT2,Cashew,Downtown Line,2015-12-27,NaT,Cashew MRT Station (DT2),1.369815,103.764439,POINT (20334.559 39092.859),2099-01-01,2015-12-01,2099-01-01
110,DT3,Hillview,Downtown Line,2015-12-27,NaT,Hillview MRT Station (DT3),1.362345,103.767418,POINT (20666.068 38266.790),2099-01-01,2015-12-01,2099-01-01
111,DT5,Beauty World,Downtown Line,2015-12-27,NaT,Beauty World MRT Station (DT5),1.341223,103.775794,POINT (21598.166 35931.236),2099-01-01,2015-12-01,2099-01-01
112,DT6,King Albert Park,Downtown Line,2015-12-27,NaT,King Albert Park MRT Station (DT6),1.335662,103.783399,POINT (22444.490 35316.248),2099-01-01,2015-12-01,2099-01-01
113,DT7,Sixth Avenue,Downtown Line,2015-12-27,NaT,Sixth Avenue MRT Station (DT7),1.330858,103.796907,POINT (23947.749 34785.023),2099-01-01,2015-12-01,2099-01-01
114,DT8,Tan Kah Kee,Downtown Line,2015-12-27,NaT,Tan Kah Kee MRT Station (DT8),1.325556,103.807760,POINT (25155.622 34198.805),2099-01-01,2015-12-01,2099-01-01
115,DT9,Botanic Gardens,Downtown Line,2015-12-27,NaT,Botanic Gardens MRT Station (DT9),1.322488,103.816014,POINT (26074.172 33859.535),2099-01-01,2015-12-01,2099-01-01
116,DT10,Stevens,Downtown Line,2015-12-27,NaT,Stevens MRT Station (DT10),1.320066,103.826024,POINT (27188.230 33591.661),2099-01-01,2015-12-01,2099-01-01
117,DT11,Newton,Downtown Line,2015-12-27,NaT,Newton MRT Station (DT11),1.313993,103.837715,POINT (28489.236 32920.173),2099-01-01,2015-12-01,2099-01-01
118,DT12,Little India,Downtown Line,2015-12-27,NaT,Little India MRT Station (DT12),1.307018,103.848661,POINT (29707.462 32148.963),2099-01-01,2015-12-01,2099-01-01
119,DT13,Rochor,Downtown Line,2015-12-27,NaT,Rochor MRT Station (DT13),1.303852,103.852769,POINT (30164.702 31798.877),2099-01-01,2015-12-01,2099-01-01
120,DT14,Bugis,Downtown Line,2013-12-22,NaT,Bugis MRT Station (DT14),1.299314,103.857126,POINT (30649.549 31297.017),2099-01-01,2013-12-01,2099-01-01
121,DT15,Promenade,Downtown Line,2013-12-22,NaT,Promenade MRT Station (DT15),1.292892,103.860892,POINT (31068.661 30586.937),2099-01-01,2013-12-01,2099-01-01
122,DT16,Bayfront,Downtown Line,2013-12-22,NaT,Bayfront MRT Station (DT16),1.281874,103.859080,POINT (30867.009 29368.625),2099-01-01,2013-12-01,2099-01-01
123,DT17,Downtown,Downtown Line,2013-12-22,NaT,Downtown MRT Station (DT17),1.279446,103.852841,POINT (30172.669 29100.209),2099-01-01,2013-12-01,2099-01-01
124,DT18,Telok Ayer,Downtown Line,2013-12-22,NaT,Telok Ayer MRT Station (DT18),1.282069,103.848649,POINT (29706.126 29390.195),2099-01-01,2013-12-01,2099-01-01

In [10]:
train_station.shape

(204, 12)

In [11]:
# 3) 'cpi'

# Import 'consumer_price_index (checked).pkl' from 'Prepared Data' folder
cpi = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'consumer_price_index (checked).pkl'))

In [12]:
cpi

         month  cpi_all_items
0   1990-01-01           62.0
1   1990-02-01           62.1
2   1990-03-01           61.9
3   1990-04-01           62.3
4   1990-05-01           62.4
5   1990-06-01           62.5
6   1990-07-01           62.5
7   1990-08-01           62.8
8   1990-09-01           63.2
9   1990-10-01           63.7
10  1990-11-01           63.7
11  1990-12-01           64.0
12  1991-01-01           64.0
13  1991-02-01           64.6
14  1991-03-01           64.2
15  1991-04-01           64.6
16  1991-05-01           64.8
17  1991-06-01           64.9
18  1991-07-01           65.0
19  1991-08-01           65.2
20  1991-09-01           65.2
21  1991-10-01           65.2
22  1991-11-01           65.3
23  1991-12-01           65.8
24  1992-01-01           65.8
25  1992-02-01           65.7
26  1992-03-01           65.6
27  1992-04-01           66.0
28  1992-05-01           66.4
29  1992-06-01           66.4
30  1992-07-01           66.7
31  1992-08-01           66.5
32  1992-09-01           66.6
33  1992-10-01           66.7
34  1992-11-01           66.9
35  1992-12-01           67.0
36  1993-01-01           67.5
37  1993-02-01           67.2
38  1993-03-01           67.3
39  1993-04-01           67.5
40  1993-05-01           67.7
41  1993-06-01           67.8
42  1993-07-01           68.1
43  1993-08-01           68.0
44  1993-09-01           68.0
45  1993-10-01           68.2
46  1993-11-01           68.5
47  1993-12-01           68.7
48  1994-01-01           69.0
49  1994-02-01           69.3
50  1994-03-01           68.9
51  1994-04-01           69.4
52  1994-05-01           69.8
53  1994-06-01           70.1
54  1994-07-01           70.3
55  1994-08-01           70.3
56  1994-09-01           70.4
57  1994-10-01           70.6
58  1994-11-01           70.9
59  1994-12-01           70.7
60  1995-01-01           70.8
61  1995-02-01           70.9
62  1995-03-01           70.7
63  1995-04-01           71.0
64  1995-05-01           71.3
65  1995-06-01           71.4
66  1995-07-01           71.3
67  1995-08-01           71.3
68  1995-09-01           71.3
69  1995-10-01           71.4
70  1995-11-01           71.5
71  1995-12-01           71.3
72  1996-01-01           71.5
73  1996-02-01           72.1
74  1996-03-01           71.7
75  1996-04-01           71.8
76  1996-05-01           72.2
77  1996-06-01           72.2
78  1996-07-01           72.2
79  1996-08-01           72.3
80  1996-09-01           72.4
81  1996-10-01           72.4
82  1996-11-01           72.6
83  1996-12-01           72.7
84  1997-01-01           72.8
85  1997-02-01           73.2
86  1997-03-01           72.9
87  1997-04-01           73.2
88  1997-05-01           73.3
89  1997-06-01           73.5
90  1997-07-01           73.8
91  1997-08-01           74.0
92  1997-09-01           74.2
93  1997-10-01           74.2
94  1997-11-01           74.3
95  1997-12-01           74.2
96  1998-01-01           74.0
97  1998-02-01           73.9
98  1998-03-01           73.5
99  1998-04-01           73.6
100 1998-05-01           73.4
101 1998-06-01           73.3
102 1998-07-01           73.4
103 1998-08-01           73.3
104 1998-09-01           73.2
105 1998-10-01           73.1
106 1998-11-01           73.3
107 1998-12-01           73.1
108 1999-01-01           73.3
109 1999-02-01           73.4
110 1999-03-01           73.1
111 1999-04-01           73.3
112 1999-05-01           73.5
113 1999-06-01           73.4
114 1999-07-01           73.5
115 1999-08-01           73.6
116 1999-09-01           73.5
117 1999-10-01           73.5
118 1999-11-01           73.5
119 1999-12-01           73.6
120 2000-01-01           73.9
121 2000-02-01           74.3
122 2000-03-01           74.0
123 2000-04-01           74.1
124 2000-05-01           73.9
125 2000-06-01           74.0
126 2000-07-01           74.4
127 2000-08-01           74.8
128 2000-09-01           74.8
129 2000-10-01           74.8
130 2000-11-01           75.0
131 2000-12-01           75.1
132 2001-01-01           75.4
133 2001-02-01           75.3
134 2001-03-01           75.4
135 2001-04-01           75.6
136 2001-05-01           75.3
137 2001-06-01           74.9
138 2001-07-01           75.3
139 2001-08-01           75.3
140 2001-09-01           75.2
141 2001-10-01           75.0
142 2001-11-01           74.8
143 2001-12-01           74.7
144 2002-01-01           74.6
145 2002-02-01           74.8
146 2002-03-01           74.7
147 2002-04-01           74.8
148 2002-05-01           75.0
149 2002-06-01           75.0
150 2002-07-01           75.0
151 2002-08-01           75.0
152 2002-09-01           74.9
153 2002-10-01           74.9
154 2002-11-01           75.0
155 2002-12-01           75.0
156 2003-01-01           75.2
157 2003-02-01           75.1
158 2003-03-01           75.3
159 2003-04-01           75.5
160 2003-05-01           75.0
161 2003-06-01           74.8
162 2003-07-01           75.2
163 2003-08-01           75.3
164 2003-09-01           75.4
165 2003-10-01           75.3
166 2003-11-01           75.4
167 2003-12-01           75.6
168 2004-01-01           75.7
169 2004-02-01           76.6
170 2004-03-01           76.1
171 2004-04-01           76.6
172 2004-05-01           76.7
173 2004-06-01           76.1
174 2004-07-01           76.8
175 2004-08-01           76.7
176 2004-09-01           76.8
177 2004-10-01           76.8
178 2004-11-01           76.8
179 2004-12-01           76.6
180 2005-01-01           76.0
181 2005-02-01           76.6
182 2005-03-01           76.4
183 2005-04-01           76.8
184 2005-05-01           76.7
185 2005-06-01           76.0
186 2005-07-01           76.8
187 2005-08-01           77.2
188 2005-09-01           77.3
189 2005-10-01           77.6
190 2005-11-01           77.5
191 2005-12-01           77.5
192 2006-01-01           77.4
193 2006-02-01           77.5
194 2006-03-01           77.3
195 2006-04-01           77.7
196 2006-05-01           77.6
197 2006-06-01           77.1
198 2006-07-01           77.7
199 2006-08-01           77.7
200 2006-09-01           77.6
201 2006-10-01           77.9
202 2006-11-01           77.9
203 2006-12-01           78.2
204 2007-01-01           76.9
205 2007-02-01           77.5
206 2007-03-01           77.4
207 2007-04-01           78.0
208 2007-05-01           78.5
209 2007-06-01           78.4
210 2007-07-01           80.0
211 2007-08-01           80.4
212 2007-09-01           80.0
213 2007-10-01           81.1
214 2007-11-01           81.7
215 2007-12-01           81.1
216 2008-01-01           82.0
217 2008-02-01           82.6
218 2008-03-01           82.6
219 2008-04-01           83.9
220 2008-05-01           84.5
221 2008-06-01           84.3
222 2008-07-01           85.2
223 2008-08-01           85.5
224 2008-09-01           85.4
225 2008-10-01           86.3
226 2008-11-01           86.2
227 2008-12-01           85.5
228 2009-01-01           85.5
229 2009-02-01           85.2
230 2009-03-01           84.8
231 2009-04-01           84.2
232 2009-05-01           84.7
233 2009-06-01           84.3
234 2009-07-01           85.0
235 2009-08-01           85.3
236 2009-09-01           85.0
237 2009-10-01           85.5
238 2009-11-01           85.6
239 2009-12-01           85.1
240 2010-01-01           85.7
241 2010-02-01           86.0
242 2010-03-01           86.1
243 2010-04-01           86.9
244 2010-05-01           87.4
245 2010-06-01           86.6
246 2010-07-01           87.7
247 2010-08-01           88.1
248 2010-09-01           88.1
249 2010-10-01           88.5
250 2010-11-01           88.8
251 2010-12-01           89.0
252 2011-01-01           90.4
253 2011-02-01           90.3
254 2011-03-01           90.5
255 2011-04-01           90.8
256 2011-05-01           91.3
257 2011-06-01           91.1
258 2011-07-01           92.4
259 2011-08-01           93.1
260 2011-09-01           92.9
261 2011-10-01           93.3
262 2011-11-01           93.8
263 2011-12-01           93.9
264 2012-01-01           94.7
265 2012-02-01           94.5
266 2012-03-01           95.2
267 2012-04-01           95.7
268 2012-05-01           95.9
269 2012-06-01           95.9
270 2012-07-01           96.1
271 2012-08-01           96.7
272 2012-09-01           97.3
273 2012-10-01           97.1
274 2012-11-01           97.2
275 2012-12-01           97.9
276 2013-01-01           98.1
277 2013-02-01           99.1
278 2013-03-01           98.6
279 2013-04-01           97.1
280 2013-05-01           97.5
281 2013-06-01           97.7
282 2013-07-01           97.9
283 2013-08-01           98.7
284 2013-09-01           98.9
285 2013-10-01           99.0
286 2013-11-01           99.7
287 2013-12-01           99.4
288 2014-01-01           99.5
289 2014-02-01           99.5
290 2014-03-01           99.7
291 2014-04-01           99.3
292 2014-05-01           99.7
293 2014-06-01           99.5
294 2014-07-01           99.2
295 2014-08-01           99.7
296 2014-09-01           99.6
297 2014-10-01           99.3
298 2014-11-01           99.4
299 2014-12-01           99.3
300 2015-01-01           99.1
301 2015-02-01           99.2
302 2015-03-01           99.4
303 2015-04-01           98.8
304 2015-05-01           99.3
305 2015-06-01           99.2
306 2015-07-01           98.8
307 2015-08-01           98.9
308 2015-09-01           98.9
309 2015-10-01           98.5
310 2015-11-01           98.7
311 2015-12-01           98.7
312 2016-01-01           98.5
313 2016-02-01           98.4
314 2016-03-01           98.4
315 2016-04-01           98.4
316 2016-05-01           97.7
317 2016-06-01           98.4
318 2016-07-01           98.2
319 2016-08-01           98.7
320 2016-09-01           98.7
321 2016-10-01           98.4
322 2016-11-01           98.7
323 2016-12-01           98.9
324 2017-01-01           99.0
325 2017-02-01           99.0
326 2017-03-01           99.1
327 2017-04-01           98.8
328 2017-05-01           99.1
329 2017-06-01           99.0
330 2017-07-01           98.7
331 2017-08-01           99.1
332 2017-09-01           99.0
333 2017-10-01           98.8
334 2017-11-01           99.3
335 2017-12-01           99.2
336 2018-01-01           99.0
337 2018-02-01           99.5
338 2018-03-01           99.3
339 2018-04-01           98.8
340 2018-05-01           99.4
341 2018-06-01           99.5
342 2018-07-01           99.4
343 2018-08-01           99.8
344 2018-09-01           99.8
345 2018-10-01           99.4
346 2018-11-01           99.6
347 2018-12-01           99.7
348 2019-01-01           99.4
349 2019-02-01          100.0
350 2019-03-01          100.0
351 2019-04-01           99.8
352 2019-05-01          100.3
353 2019-06-01          100.0
354 2019-07-01           99.6
355 2019-08-01          100.2
356 2019-09-01          100.1
357 2019-10-01           99.9
358 2019-11-01          100.3
359 2019-12-01          100.4
360 2020-01-01          100.2
361 2020-02-01          100.3
362 2020-03-01           99.9
363 2020-04-01           99.0
364 2020-05-01           99.5
365 2020-06-01           99.5
366 2020-07-01           99.2
367 2020-08-01           99.8
368 2020-09-01          100.1
369 2020-10-01           99.7
370 2020-11-01          100.1
371 2020-12-01          100.5
372 2021-01-01          100.4
373 2021-02-01          101.0
374 2021-03-01          101.2
375 2021-04-01          101.1
376 2021-05-01          101.9
377 2021-06-01          101.9
378 2021-07-01          101.7
379 2021-08-01          102.2
380 2021-09-01          102.7
381 2021-10-01          103.0
382 2021-11-01          104.0
383 2021-12-01          104.4
384 2022-01-01          104.5
385 2022-02-01          105.4
386 2022-03-01          106.7
387 2022-04-01          106.5
388 2022-05-01          107.6
389 2022-06-01          108.7
390 2022-07-01          108.8
391 2022-08-01          109.9
392 2022-09-01          110.3
393 2022-10-01          109.9
394 2022-11-01          111.0
395 2022-12-01          111.2
396 2023-01-01          111.4
397 2023-02-01          112.0
398 2023-03-01          112.6
399 2023-04-01          112.7
400 2023-05-01          113.0
401 2023-06-01          113.6
402 2023-07-01          113.3
403 2023-08-01          114.3
404 2023-09-01          114.9
405 2023-10-01          115.1
406 2023-11-01          114.9
407 2023-12-01          115.3

In [13]:
cpi.shape

(408, 2)

# 03. Include CPI

In [14]:
# Merge 'flat_resale' with 'cpi'
flat_resale_cpi = flat_resale.merge(cpi, on = 'month', how = 'left', indicator = True)

In [15]:
flat_resale_cpi.head()

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,resale_price,remaining_lease,row_id,address,latitude,longitude,geometry,nearest_station,station_distance,station_opening,station_closure,cpi_all_items,_merge
0,1990-01-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,10 TO 12,31.0,Improved,1977,9000.0,86,0,309 ANG MO KIO AVE 1,1.365517,103.843968,POINT (29185.176 38617.449),Ang Mo Kio MRT Station (NS16),790.831215,1987-11-07,NaT,62.0,both
1,1990-01-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,04 TO 06,31.0,Improved,1977,6000.0,86,1,309 ANG MO KIO AVE 1,1.365517,103.843968,POINT (29185.176 38617.449),Ang Mo Kio MRT Station (NS16),790.831215,1987-11-07,NaT,62.0,both
2,1990-01-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,10 TO 12,31.0,Improved,1977,8000.0,86,2,309 ANG MO KIO AVE 1,1.365517,103.843968,POINT (29185.176 38617.449),Ang Mo Kio MRT Station (NS16),790.831215,1987-11-07,NaT,62.0,both
3,1990-01-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,07 TO 09,31.0,Improved,1977,6000.0,86,3,309 ANG MO KIO AVE 1,1.365517,103.843968,POINT (29185.176 38617.449),Ang Mo Kio MRT Station (NS16),790.831215,1987-11-07,NaT,62.0,both
4,1990-01-01,ANG MO KIO,3 ROOM,216,ANG MO KIO AVE 1,04 TO 06,73.0,New Generation,1976,47200.0,85,4,216 ANG MO KIO AVE 1,1.366197,103.841505,POINT (28911.052 38692.617),Ang Mo Kio MRT Station (NS16),986.842379,1987-11-07,NaT,62.0,both

In [16]:
flat_resale_cpi['_merge'].value_counts()

_merge
both          915371
left_only          0
right_only         0
Name: count, dtype: int64

The merge rate is full.

In [17]:
# Drop '_merge' column
flat_resale_cpi.drop(columns = ['_merge'], inplace = True)

In [18]:
flat_resale_cpi.head()

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,resale_price,remaining_lease,row_id,address,latitude,longitude,geometry,nearest_station,station_distance,station_opening,station_closure,cpi_all_items
0,1990-01-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,10 TO 12,31.0,Improved,1977,9000.0,86,0,309 ANG MO KIO AVE 1,1.365517,103.843968,POINT (29185.176 38617.449),Ang Mo Kio MRT Station (NS16),790.831215,1987-11-07,NaT,62.0
1,1990-01-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,04 TO 06,31.0,Improved,1977,6000.0,86,1,309 ANG MO KIO AVE 1,1.365517,103.843968,POINT (29185.176 38617.449),Ang Mo Kio MRT Station (NS16),790.831215,1987-11-07,NaT,62.0
2,1990-01-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,10 TO 12,31.0,Improved,1977,8000.0,86,2,309 ANG MO KIO AVE 1,1.365517,103.843968,POINT (29185.176 38617.449),Ang Mo Kio MRT Station (NS16),790.831215,1987-11-07,NaT,62.0
3,1990-01-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,07 TO 09,31.0,Improved,1977,6000.0,86,3,309 ANG MO KIO AVE 1,1.365517,103.843968,POINT (29185.176 38617.449),Ang Mo Kio MRT Station (NS16),790.831215,1987-11-07,NaT,62.0
4,1990-01-01,ANG MO KIO,3 ROOM,216,ANG MO KIO AVE 1,04 TO 06,73.0,New Generation,1976,47200.0,85,4,216 ANG MO KIO AVE 1,1.366197,103.841505,POINT (28911.052 38692.617),Ang Mo Kio MRT Station (NS16),986.842379,1987-11-07,NaT,62.0

In [19]:
flat_resale_cpi.shape

(915371, 21)

# 04. Derive New Columns

### 04.1 Adjusted Resale Price

The Consumer Price Index (CPI) is widely used as a measure of the consumer price inflation. Inflation itself would diminish the purchasing power of a currency, effectively erroding its value over time. <br>
Given that the primary dataset on resale flat prices covers a long timeframe (from Jan 1990 to Dec 2023), the CPI values could be used to standardize the prices against the fluctuating currency's value across different periods. This allows the price comparison from different time periods on a more equitable basis.

In [20]:
# Create the new column 'adjusted_resale_price' using the formula below
flat_resale_cpi['adjusted_resale_price'] = flat_resale_cpi['resale_price'] / flat_resale_cpi['cpi_all_items'] * 100

In [21]:
# Check if there is any missing data in the new column
flat_resale_cpi['adjusted_resale_price'].isnull().sum()

0

In [22]:
flat_resale_cpi.head()

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,resale_price,remaining_lease,row_id,address,latitude,longitude,geometry,nearest_station,station_distance,station_opening,station_closure,cpi_all_items,adjusted_resale_price
0,1990-01-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,10 TO 12,31.0,Improved,1977,9000.0,86,0,309 ANG MO KIO AVE 1,1.365517,103.843968,POINT (29185.176 38617.449),Ang Mo Kio MRT Station (NS16),790.831215,1987-11-07,NaT,62.0,14516.129032
1,1990-01-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,04 TO 06,31.0,Improved,1977,6000.0,86,1,309 ANG MO KIO AVE 1,1.365517,103.843968,POINT (29185.176 38617.449),Ang Mo Kio MRT Station (NS16),790.831215,1987-11-07,NaT,62.0,9677.419355
2,1990-01-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,10 TO 12,31.0,Improved,1977,8000.0,86,2,309 ANG MO KIO AVE 1,1.365517,103.843968,POINT (29185.176 38617.449),Ang Mo Kio MRT Station (NS16),790.831215,1987-11-07,NaT,62.0,12903.225806
3,1990-01-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,07 TO 09,31.0,Improved,1977,6000.0,86,3,309 ANG MO KIO AVE 1,1.365517,103.843968,POINT (29185.176 38617.449),Ang Mo Kio MRT Station (NS16),790.831215,1987-11-07,NaT,62.0,9677.419355
4,1990-01-01,ANG MO KIO,3 ROOM,216,ANG MO KIO AVE 1,04 TO 06,73.0,New Generation,1976,47200.0,85,4,216 ANG MO KIO AVE 1,1.366197,103.841505,POINT (28911.052 38692.617),Ang Mo Kio MRT Station (NS16),986.842379,1987-11-07,NaT,62.0,76129.032258

In [23]:
flat_resale_cpi.shape

(915371, 22)

### 04.2 Region

Town region is based on the latest URA Master Plan in 2019. 
- Reference: https://www.hdb.gov.sg/about-us/history/hdb-towns-your-home
- Reference: https://www.ura.gov.sg/-/media/Corporate/Planning/Master-Plan/MP19writtenstatement.pdf (page 3)

In [24]:
# Create a list of towns for each region
North = ['LIM CHU KANG', 'SEMBAWANG', 'WOODLANDS', 'YISHUN']
North_East = ['ANG MO KIO', 'HOUGANG', 'PUNGGOL', 'SENGKANG', 'SERANGOON']
East = ['BEDOK', 'PASIR RIS', 'TAMPINES']
West = ['BUKIT BATOK', 'BUKIT PANJANG', 'CHOA CHU KANG', 'CLEMENTI', 'JURONG EAST', 'JURONG WEST', 'TENGAH']
Central = ['BISHAN', 'BUKIT MERAH', 'BUKIT TIMAH', 'CENTRAL AREA', 'GEYLANG', 'KALLANG/WHAMPOA', 'MARINE PARADE', 
           'QUEENSTOWN', 'TOA PAYOH']

In [25]:
# Create a new column 'region' based on the lists above
flat_resale_cpi.loc[flat_resale_cpi['town'].isin(North), 'region'] = 'North'
flat_resale_cpi.loc[flat_resale_cpi['town'].isin(North_East), 'region'] = 'North East'
flat_resale_cpi.loc[flat_resale_cpi['town'].isin(East), 'region'] = 'East'
flat_resale_cpi.loc[flat_resale_cpi['town'].isin(West), 'region'] = 'West'
flat_resale_cpi.loc[flat_resale_cpi['town'].isin(Central), 'region'] = 'Central'

In [26]:
# Verify the changes
flat_resale_cpi['region'].value_counts(dropna = False)

region
West          226948
Central       187055
East          178139
North East    175805
North         147424
Name: count, dtype: int64

In [27]:
flat_resale_cpi.head()

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,resale_price,remaining_lease,row_id,address,latitude,longitude,geometry,nearest_station,station_distance,station_opening,station_closure,cpi_all_items,adjusted_resale_price,region
0,1990-01-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,10 TO 12,31.0,Improved,1977,9000.0,86,0,309 ANG MO KIO AVE 1,1.365517,103.843968,POINT (29185.176 38617.449),Ang Mo Kio MRT Station (NS16),790.831215,1987-11-07,NaT,62.0,14516.129032,North East
1,1990-01-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,04 TO 06,31.0,Improved,1977,6000.0,86,1,309 ANG MO KIO AVE 1,1.365517,103.843968,POINT (29185.176 38617.449),Ang Mo Kio MRT Station (NS16),790.831215,1987-11-07,NaT,62.0,9677.419355,North East
2,1990-01-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,10 TO 12,31.0,Improved,1977,8000.0,86,2,309 ANG MO KIO AVE 1,1.365517,103.843968,POINT (29185.176 38617.449),Ang Mo Kio MRT Station (NS16),790.831215,1987-11-07,NaT,62.0,12903.225806,North East
3,1990-01-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,07 TO 09,31.0,Improved,1977,6000.0,86,3,309 ANG MO KIO AVE 1,1.365517,103.843968,POINT (29185.176 38617.449),Ang Mo Kio MRT Station (NS16),790.831215,1987-11-07,NaT,62.0,9677.419355,North East
4,1990-01-01,ANG MO KIO,3 ROOM,216,ANG MO KIO AVE 1,04 TO 06,73.0,New Generation,1976,47200.0,85,4,216 ANG MO KIO AVE 1,1.366197,103.841505,POINT (28911.052 38692.617),Ang Mo Kio MRT Station (NS16),986.842379,1987-11-07,NaT,62.0,76129.032258,North East

In [28]:
flat_resale_cpi.shape

(915371, 23)

### 04.3 Interchange Flag - Is the nearest station an interchange?

In [29]:
# 1) Create a list of station interchange

# Extract the station names that appear more than once in 'train_station' dataframe into a list
interchange_list = train_station.loc[train_station['station_name'].duplicated()]['station_name'].to_list()

In [30]:
len(interchange_list)

32

In [31]:
interchange_list.sort()

In [32]:
interchange_list

['Bayfront',
 'Bishan',
 'Botanic Gardens',
 'Bugis',
 'Bukit Panjang',
 'Buona Vista',
 'Caldecott',
 'Chinatown',
 'Choa Chu Kang',
 'City Hall',
 'Dhoby Ghaut',
 'Dhoby Ghaut',
 'Expo',
 'HarbourFront',
 'Jurong East',
 'Little India',
 'MacPherson',
 'Marina Bay',
 'Marina Bay',
 'Newton',
 'Orchard',
 'Outram Park',
 'Outram Park',
 'Paya Lebar',
 'Promenade',
 'Punggol',
 'Raffles Place',
 'Sengkang',
 'Serangoon',
 'Stevens',
 'Tampines',
 'Woodlands']

The station interchange list above contains duplicate values.

In [33]:
# Remove duplicates from 'interchange_list'
interchange_list = list(set(interchange_list))

In [34]:
interchange_list.sort()

In [35]:
len(interchange_list)

29

In [36]:
interchange_list

['Bayfront',
 'Bishan',
 'Botanic Gardens',
 'Bugis',
 'Bukit Panjang',
 'Buona Vista',
 'Caldecott',
 'Chinatown',
 'Choa Chu Kang',
 'City Hall',
 'Dhoby Ghaut',
 'Expo',
 'HarbourFront',
 'Jurong East',
 'Little India',
 'MacPherson',
 'Marina Bay',
 'Newton',
 'Orchard',
 'Outram Park',
 'Paya Lebar',
 'Promenade',
 'Punggol',
 'Raffles Place',
 'Sengkang',
 'Serangoon',
 'Stevens',
 'Tampines',
 'Woodlands']

In [37]:
# 2) Create a list of dates when the stations above become an interchange, which is the second opening date of the stations

date_become_interchange_list = []

for station in interchange_list: 
    date = pd.to_datetime('1800-01-01')
    date_list = train_station.loc[train_station['station_name'] == station, 'opening'].to_list()
    date_list.sort()
    
    for i in range(2): 
        if date_list[i] > date: 
            date = date_list[i]
    date_become_interchange_list.append(date)

In [38]:
len(date_become_interchange_list)

29

In [39]:
# 3) Create a dataframe 'df_interchange' that store the station interchange name and date become interchange

df_interchange = pd.DataFrame({'station_name' : interchange_list, 
                               'date_become_interchange' : date_become_interchange_list})

In [40]:
df_interchange

       station_name date_become_interchange
0          Bayfront              2013-12-22
1            Bishan              2009-05-28
2   Botanic Gardens              2015-12-27
3             Bugis              2013-12-22
4     Bukit Panjang              2015-12-27
5       Buona Vista              2011-10-08
6         Caldecott              2021-08-28
7         Chinatown              2013-12-22
8     Choa Chu Kang              1999-11-06
9         City Hall              1987-12-12
10      Dhoby Ghaut              2003-06-20
11             Expo              2017-10-21
12     HarbourFront              2011-10-08
13      Jurong East              1990-03-10
14     Little India              2015-12-27
15       MacPherson              2017-10-21
16       Marina Bay              2012-01-14
17           Newton              2015-12-27
18          Orchard              2022-11-13
19      Outram Park              2003-06-20
20       Paya Lebar              2010-04-17
21        Promenade              2013-12-22
22          Punggol              2005-01-29
23    Raffles Place              1987-12-12
24         Sengkang              2003-06-20
25        Serangoon              2009-05-28
26          Stevens              2022-11-13
27         Tampines              2017-10-21
28        Woodlands              2020-01-31

In [41]:
# Reduce the date granularity of 'date_become_interchange' from day (yyyy-mm-dd) to month (yyyy-mm-01) 
# because the date granularity in flat_resale['month'] is up to month only

# Extract the year and month from existing 'date_become_interchange' and store into new column 'date_become_interchange_yymm'
df_interchange['date_become_interchange_yymm'] = df_interchange['date_become_interchange'].apply(lambda x: x.strftime('%Y-%m'))

In [42]:
# Convert 'date_become_interchange_yymm' into datetime
df_interchange['date_become_interchange_yymm'] = pd.to_datetime(df_interchange['date_become_interchange_yymm'])

In [43]:
df_interchange

       station_name date_become_interchange date_become_interchange_yymm
0          Bayfront              2013-12-22                   2013-12-01
1            Bishan              2009-05-28                   2009-05-01
2   Botanic Gardens              2015-12-27                   2015-12-01
3             Bugis              2013-12-22                   2013-12-01
4     Bukit Panjang              2015-12-27                   2015-12-01
5       Buona Vista              2011-10-08                   2011-10-01
6         Caldecott              2021-08-28                   2021-08-01
7         Chinatown              2013-12-22                   2013-12-01
8     Choa Chu Kang              1999-11-06                   1999-11-01
9         City Hall              1987-12-12                   1987-12-01
10      Dhoby Ghaut              2003-06-20                   2003-06-01
11             Expo              2017-10-21                   2017-10-01
12     HarbourFront              2011-10-08                   2011-10-01
13      Jurong East              1990-03-10                   1990-03-01
14     Little India              2015-12-27                   2015-12-01
15       MacPherson              2017-10-21                   2017-10-01
16       Marina Bay              2012-01-14                   2012-01-01
17           Newton              2015-12-27                   2015-12-01
18          Orchard              2022-11-13                   2022-11-01
19      Outram Park              2003-06-20                   2003-06-01
20       Paya Lebar              2010-04-17                   2010-04-01
21        Promenade              2013-12-22                   2013-12-01
22          Punggol              2005-01-29                   2005-01-01
23    Raffles Place              1987-12-12                   1987-12-01
24         Sengkang              2003-06-20                   2003-06-01
25        Serangoon              2009-05-28                   2009-05-01
26          Stevens              2022-11-13                   2022-11-01
27         Tampines              2017-10-21                   2017-10-01
28        Woodlands              2020-01-31                   2020-01-01

In [44]:
# 4) Merge 'train_station' with 'df_interchange' to get their respective 'station_name_w_code' and 'opening' dates

df_interchange_merged = df_interchange.merge(train_station, on = 'station_name', how = 'left', indicator = True)

In [45]:
df_interchange_merged

,station_name,date_become_interchange,date_become_interchange_yymm,station_code,line,opening,closure,station_name_w_code,latitude,longitude,geometry,closure_w_dummy,opening_yymm,closure_w_dummy_yymm,_merge
0,Bayfront,2013-12-22,2013-12-01,CE1,Circle Line Extension,2012-01-14,NaT,Bayfront MRT Station (CE1),1.281874,103.859080,POINT (30867.009 29368.625),2099-01-01,2012-01-01,2099-01-01,both
1,Bayfront,2013-12-22,2013-12-01,DT16,Downtown Line,2013-12-22,NaT,Bayfront MRT Station (DT16),1.281874,103.859080,POINT (30867.009 29368.625),2099-01-01,2013-12-01,2099-01-01,both
2,Bishan,2009-05-28,2009-05-01,NS17,North-South Line,1987-11-07,NaT,Bishan MRT Station (NS17),1.350839,103.848144,POINT (29649.899 36994.433),2099-01-01,1987-11-01,2099-01-01,both
3,Bishan,2009-05-28,2009-05-01,CC15,Circle Line,2009-05-28,NaT,Bishan MRT Station (CC15),1.351316,103.849140,POINT (29760.776 37047.157),2099-01-01,2009-05-01,2099-01-01,both
4,Botanic Gardens,2015-12-27,2015-12-01,CC19,Circle Line,2011-10-08,NaT,Botanic Gardens MRT Station (CC19),1.322114,103.814985,POINT (25959.601 33818.144),2099-01-01,2011-10-01,2099-01-01,both
5,Botanic Gardens,2015-12-27,2015-12-01,DT9,Downtown Line,2015-12-27,NaT,Botanic Gardens MRT Station (DT9),1.322488,103.816014,POINT (26074.172 33859.535),2099-01-01,2015-12-01,2099-01-01,both
6,Bugis,2013-12-22,2013-12-01,EW12,East-West Line,1989-11-04,NaT,Bugis MRT Station (EW12),1.300465,103.855707,POINT (30491.600 31424.351),2099-01-01,1989-11-01,2099-01-01,both
7,Bugis,2013-12-22,2013-12-01,DT14,Downtown Line,2013-12-22,NaT,Bugis MRT Station (DT14),1.299314,103.857126,POINT (30649.549 31297.017),2099-01-01,2013-12-01,2099-01-01,both
8,Bukit Panjang,2015-12-27,2015-12-01,DT1,Downtown Line,2015-12-27,NaT,Bukit Panjang MRT Station (DT1),1.379002,103.761535,POINT (20011.398 40108.684),2099-01-01,2015-12-01,2099-01-01,both
9,Bukit Panjang,2015-12-27,2015-12-01,BP6,Bukit Panjang LRT,1999-11-06,NaT,Bukit Panjang LRT Station (BP6),1.377927,103.763103,POINT (20185.873 39989.792),2099-01-01,1999-11-01,2099-01-01,both
10,Buona Vista,2011-10-08,2011-10-01,EW21,East-West Line,1988-03-12,NaT,Buona Vista MRT Station (EW21),1.307224,103.790254,POINT (23207.258 32171.715),2099-01-01,1988-03-01,2099-01-01,both
11,Buona Vista,2011-10-08,2011-10-01,CC22,Circle Line,2011-10-08,NaT,Buona Vista MRT Station (CC22),1.306635,103.790709,POINT (23257.993 32106.563),2099-01-01,2011-10-01,2099-01-01,both
12,Caldecott,2021-08-28,2021-08-01,CC17,Circle Line,2011-10-08,NaT,Caldecott MRT Station (CC17),1.337675,103.839530,POINT (28691.245 35538.768),2099-01-01,2011-10-01,2099-01-01,both
13,Caldecott,2021-08-28,2021-08-01,TE9,Thomsom-East Coast Line,2021-08-28,NaT,Caldecott MRT Station (TE9),1.337246,103.840162,POINT (28761.576 35491.343),2099-01-01,2021-08-01,2099-01-01,both
14,Chinatown,2013-12-22,2013-12-01,NE4,North East Line,2003-06-20,NaT,Chinatown MRT Station (NE4),1.284360,103.843427,POINT (29124.948 29643.480),2099-01-01,2003-06-01,2099-01-01,both
15,Chinatown,2013-12-22,2013-12-01,DT19,Downtown Line,2013-12-22,NaT,Chinatown MRT Station (DT19),1.284224,103.845144,POINT (29316.049 29628.479),2099-01-01,2013-12-01,2099-01-01,both
16,Choa Chu Kang,1999-11-06,1999-11-01,NS4,North-South Line,1990-03-10,NaT,Choa Chu Kang MRT Station (NS4),1.385363,103.744371,POINT (18101.247 40812.122),2099-01-01,1990-03-01,2099-01-01,both
17,Choa Chu Kang,1999-11-06,1999-11-01,BP1,Bukit Panjang LRT,1999-11-06,NaT,Choa Chu Kang LRT Station (BP1),1.384755,103.744538,POINT (18119.821 40744.918),2099-01-01,1999-11-01,2099-01-01,both
18,City Hall,1987-12-12,1987-12-01,NS25,North-South Line,1987-12-12,NaT,City Hall MRT Station (NS25),1.292937,103.852586,POINT (30144.250 30591.901),2099-01-01,1987-12-01,2099-01-01,both
19,City Hall,1987-12-12,1987-12-01,EW13,East-West Line,1987-12-12,NaT,City Hall MRT Station (EW13),1.292937,103.852586,POINT (30144.250 30591.901),2099-01-01,1987-12-01,2099-01-01,both
20,Dhoby Ghaut,2003-06-20,2003-06-01,NS24,North-South Line,1987-12-12,NaT,Dhoby Ghaut MRT Station (NS24),1.298701,103.846114,POINT (29423.980 31229.316),2099-01-01,1987-12-01,2099-01-01,both
21,Dhoby Ghaut,2003-06-20,2003-06-01,NE6,North East Line,2003-06-20,NaT,Dhoby Ghaut MRT Station (NE6),1.299705,103.845489,POINT (29354.408 31340.251),2099-01-01,2003-06-01,2099-01-01,both
22,Dhoby Ghaut,2003-06-20,2003-06-01,CC1,Circle Line,2010-04-17,NaT,Dhoby Ghaut MRT Station (CC1),1.298912,103.846293,POINT (29443.882 31252.572),2099-01-01,2010-04-01,2099-01-01,both
23,Expo,2017-10-21,2017-10-01,CG1,Changi Airport Branch Line,2001-01-10,NaT,Expo MRT Station (CG1),1.334550,103.961548,POINT (42270.623 35193.622),2099-01-01,2001-01-01,2099-01-01,both
24,Expo,2017-10-21,2017-10-01,DT35,Downtown Line,2017-10-21,NaT,Expo MRT Station (DT35),1.335383,103.962375,POINT (42362.603 35285.708),2099-01-01,2017-10-01,2099-01-01,both
25,HarbourFront,2011-10-08,2011-10-01,NE1,North East Line,2003-06-20,NaT,HarbourFront MRT Station (NE1),1.265389,103.821530,POINT (26688.037 27545.853),2099-01-01,2003-06-01,2099-01-01,both
26,HarbourFront,2011-10-08,2011-10-01,CC29,Circle Line,2011-10-08,NaT,HarbourFront MRT Station (CC29),1.265389,103.821530,POINT (26688.037 27545.853),2099-01-01,2011-10-01,2099-01-01,both
27,Jurong East,1990-03-10,1990-03-01,NS1,North-South Line,1990-03-10,NaT,Jurong East MRT Station (NS1),1.333153,103.742286,POINT (17869.057 35038.969),2099-01-01,1990-03-01,2099-01-01,both
28,Jurong East,1990-03-10,1990-03-01,EW24,East-West Line,1988-11-05,NaT,Jurong East MRT Station (EW24),1.333153,103.742286,POINT (17869.057 35038.969),2099-01-01,1988-11-01,2099-01-01,both
29,Little India,2015-12-27,2015-12-01,NE7,North East Line,2003-06-20,NaT,Little India MRT Station (NE7),1.306800,103.849647,POINT (29817.209 32124.850),2099-01-01,2003-06-01,2099-01-01,both
30,Little India,2015-12-27,2015-12-01,DT12,Downtown Line,2015-12-27,NaT,Little India MRT Station (DT12),1.307018,103.848661,POINT (29707.462 32148.963),2099-01-01,2015-12-01,2099-01-01,both
31,MacPherson,2017-10-21,2017-10-01,CC10,Circle Line,2010-04-17,NaT,MacPherson MRT Station (CC10),1.326078,103.890391,POINT (34351.618 34256.514),2099-01-01,2010-04-01,2099-01-01,both
32,MacPherson,2017-10-21,2017-10-01,DT26,Downtown Line,2017-10-21,NaT,MacPherson MRT Station (DT26),1.326150,103.889299,POINT (34230.010 34264.544),2099-01-01,2017-10-01,2099-01-01,both
33,Marina Bay,2012-01-14,2012-01-01,NS27,North-South Line,1989-11-04,NaT,Marina Bay MRT Station (NS27),1.276410,103.854596,POINT (30367.955 28764.496),2099-01-01,1989-11-01,2099-01-01,both
34,Marina Bay,2012-01-14,2012-01-01,CE2,Circle Line Extension,2012-01-14,NaT,Marina Bay MRT Station (CE2),1.276251,103.855447,POINT (30462.735 28746.934),2099-01-01,2012-01-01,2099-01-01,both
35,Marina Bay,2012-01-14,2012-01-01,TE20,Thomsom-East Coast Line,2022-11-13,NaT,Marina Bay MRT Station (TE20),1.274742,103.855309,POINT (30447.379 28579.995),2099-01-01,2022-11-01,2099-01-01,both
36,Newton,2015-12-27,2015-12-01,NS21,North-South Line,1987-12-12,NaT,Newton MRT Station (NS21),1.312319,103.837985,POINT (28519.283 32735.077),2099-01-01,1987-12-01,2099-01-01,both
37,Newton,2015-12-27,2015-12-01,DT11,Downtown Line,2015-12-27,NaT,Newton MRT Station (DT11),1.313993,103.837715,POINT (28489.236 32920.173),2099-01-01,2015-12-01,2099-01-01,both
38,Orchard,2022-11-13,2022-11-01,NS22,North-South Line,1987-12-12,NaT,Orchard MRT Station (NS22),1.303980,103.832245,POINT (27880.548 31813.017),2099-01-01,1987-12-01,2099-01-01,both
39,Orchard,2022-11-13,2022-11-01,TE14,Thomsom-East Coast Line,2022-11-13,NaT,Orchard MRT Station (TE14),1.303044,103.831375,POINT (27783.697 31709.532),2099-01-01,2022-11-01,2099-01-01,both
40,Outram Park,2003-06-20,2003-06-01,EW16,East-West Line,1987-12-12,NaT,Outram Park MRT Station (EW16),1.281405,103.839131,POINT (28646.873 29316.780),2099-01-01,1987-12-01,2099-01-01,both
41,Outram Park,2003-06-20,2003-06-01,NE3,North East Line,2003-06-20,NaT,Outram Park MRT Station (NE3),1.279721,103.839440,POINT (28681.249 29130.522),2099-01-01,2003-06-01,2099-01-01,both
42,Outram Park,2003-06-20,2003-06-01,TE17,Thomsom-East Coast Line,2022-11-13,NaT,Outram Park MRT Station (TE17),1.281330,103.839138,POINT (28647.605 29308.443),2099-01-01,2022-11-01,2099-01-01,both
43,Paya Lebar,2010-04-17,2010-04-01,EW8,East-West Line,1989-11-04,NaT,Paya Lebar MRT Station (EW8),1.318111,103.893061,POINT (34648.724 33375.669),2099-01-01,1989-11-01,2099-01-01,both
44,Paya Lebar,2010-04-17,2010-04-01,CC9,Circle Line,2010-04-17,NaT,Paya Lebar MRT Station (CC9),1.317247,103.892261,POINT (34559.692 33280.118),2099-01-01,2010-04-01,2099-01-01,both
45,Promenade,2013-12-22,2013-12-01,CC4,Circle Line,2010-04-17,NaT,Promenade MRT Station (CC4),1.293998,103.860350,POINT (31008.362 30709.258),2099-01-01,2010-04-01,2099-01-01,both
46,Promenade,2013-12-22,2013-12-01,DT15,Downtown Line,2013-12-22,NaT,Promenade MRT Station (DT15),1.292892,103.860892,POINT (31068.661 30586.937),2099-01-01,2013-12-01,2099-01-01,both
47,Punggol,2005-01-29,2005-01-01,NE17,North East Line,2003-06-20,NaT,Punggol MRT Station (NE17),1.404547,103.902073,POINT (35651.383 42933.248),2099-01-01,2003-06-01,2099-01-01,both
48,Punggol,2005-01-29,2005-01-01,PTC,Punggol LRT,2005-01-29,NaT,Punggol LRT Station (PTC),1.405195,103.902412,POINT (35689.139 43004.920),2099-01-01,2005-01-01,2099-01-01,both
49,Raffles Place,1987-12-12,1987-12-01,NS26,North-South Line,1987-12-12,NaT,Raffles Place MRT Station (NS26),1.284126,103.851462,POINT (30019.181 29617.613),2099-01-01,1987-12-01,2099-01-01,both
50,Raffles Place,1987-12-12,1987-12-01,EW14,East-West Line,1987-12-12,NaT,Raffles Place MRT Station (EW14),1.284126,103.851462,POINT (30019.181 29617.613),2099-01-01,1987-12-01,2099-01-01,both
51,Sengkang,2003-06-20,2003-06-01,NE16,North East Line,2003-06-20,NaT,Sengkang MRT Station (NE16),1.391695,103.895485,POINT (34918.274 41512.128),2099-01-01,2003-06-01,2099-01-01,both
52,Sengkang,2003-06-20,2003-06-01,STC,Sengkang LRT,2003-01-18,NaT,Sengkang LRT Station (STC),1.391609,103.895443,POINT (34913.588 41502.700),2099-01-01,2003-01-01,2099-01-01,both
53,Serangoon,2009-05-28,2009-05-01,NE12,North East Line,2003-06-20,NaT,Serangoon MRT Station (NE12),1.349708,103.873575,POINT (32480.073 36869.393),2099-01-01,2003-06-01,2099-01-01,both
54,Serangoon,2009-05-28,2009-05-01,CC13,Circle Line,2009-05-28,NaT,Serangoon MRT Station (CC13),1.350634,103.872772,POINT (32390.685 36971.755),2099-01-01,2009-05-01,2099-01-01,both
55,Stevens,2022-11-13,2022-11-01,DT10,Downtown Line,2015-12-27,NaT,Stevens MRT Station (DT10),1.320066,103.826024,POINT (27188.230 33591.661),2099-01-01,2015-12-01,2099-01-01,both
56,Stevens,2022-11-13,2022-11-01,TE11,Thomsom-East Coast Line,2022-11-13,NaT,Stevens MRT Station (TE11),1.319334,103.825567,POINT (27137.322 33510.811),2099-01-01,2022-11-01,2099-01-01,both
57,Tampines,2017-10-21,2017-10-01,EW2,East-West Line,1989-12-16,NaT,Tampines MRT Station (EW2),1.353302,103.945145,POINT (40444.973 37267.026),2099-01-01,1989-12-01,2099-01-01,both
58,Tampines,2017-10-21,2017-10-01,DT32,Downtown Line,2017-10-21,NaT,Tampines MRT Station (DT32),1.355150,103.943010,POINT (40207.395 37471.439),2099-01-01,2017-10-01,2099-01-01,both
59,Woodlands,2020-01-31,2020-01-01,NS9,North-South Line,1996-02-10,NaT,Woodlands MRT Station (NS9),1.436820,103.786067,POINT (22741.598 46501.786),2099-01-01,1996-02-01,2099-01-01,both
60,Woodlands,2020-01-31,2020-01-01,TE2,Thomsom-East Coast Line,2020-01-31,NaT,Woodlands MRT Station (TE2),1.436058,103.787939,POINT (22949.919 46417.522),2099-01-01,2020-01-01,2099-01-01,both

In [46]:
len(df_interchange_merged)

61

In [47]:
df_interchange_merged.drop(columns = ['station_code', 'line', 'closure', 'latitude', 'longitude', 'geometry', 
                                      'closure_w_dummy', 'opening_yymm', 'closure_w_dummy_yymm', '_merge'], inplace = True)

In [48]:
df_interchange_merged

,station_name,date_become_interchange,date_become_interchange_yymm,opening,station_name_w_code
0,Bayfront,2013-12-22,2013-12-01,2012-01-14,Bayfront MRT Station (CE1)
1,Bayfront,2013-12-22,2013-12-01,2013-12-22,Bayfront MRT Station (DT16)
2,Bishan,2009-05-28,2009-05-01,1987-11-07,Bishan MRT Station (NS17)
3,Bishan,2009-05-28,2009-05-01,2009-05-28,Bishan MRT Station (CC15)
4,Botanic Gardens,2015-12-27,2015-12-01,2011-10-08,Botanic Gardens MRT Station (CC19)
5,Botanic Gardens,2015-12-27,2015-12-01,2015-12-27,Botanic Gardens MRT Station (DT9)
6,Bugis,2013-12-22,2013-12-01,1989-11-04,Bugis MRT Station (EW12)
7,Bugis,2013-12-22,2013-12-01,2013-12-22,Bugis MRT Station (DT14)
8,Bukit Panjang,2015-12-27,2015-12-01,2015-12-27,Bukit Panjang MRT Station (DT1)
9,Bukit Panjang,2015-12-27,2015-12-01,1999-11-06,Bukit Panjang LRT Station (BP6)
10,Buona Vista,2011-10-08,2011-10-01,1988-03-12,Buona Vista MRT Station (EW21)
11,Buona Vista,2011-10-08,2011-10-01,2011-10-08,Buona Vista MRT Station (CC22)
12,Caldecott,2021-08-28,2021-08-01,2011-10-08,Caldecott MRT Station (CC17)
13,Caldecott,2021-08-28,2021-08-01,2021-08-28,Caldecott MRT Station (TE9)
14,Chinatown,2013-12-22,2013-12-01,2003-06-20,Chinatown MRT Station (NE4)
15,Chinatown,2013-12-22,2013-12-01,2013-12-22,Chinatown MRT Station (DT19)
16,Choa Chu Kang,1999-11-06,1999-11-01,1990-03-10,Choa Chu Kang MRT Station (NS4)
17,Choa Chu Kang,1999-11-06,1999-11-01,1999-11-06,Choa Chu Kang LRT Station (BP1)
18,City Hall,1987-12-12,1987-12-01,1987-12-12,City Hall MRT Station (NS25)
19,City Hall,1987-12-12,1987-12-01,1987-12-12,City Hall MRT Station (EW13)
20,Dhoby Ghaut,2003-06-20,2003-06-01,1987-12-12,Dhoby Ghaut MRT Station (NS24)
21,Dhoby Ghaut,2003-06-20,2003-06-01,2003-06-20,Dhoby Ghaut MRT Station (NE6)
22,Dhoby Ghaut,2003-06-20,2003-06-01,2010-04-17,Dhoby Ghaut MRT Station (CC1)
23,Expo,2017-10-21,2017-10-01,2001-01-10,Expo MRT Station (CG1)
24,Expo,2017-10-21,2017-10-01,2017-10-21,Expo MRT Station (DT35)
25,HarbourFront,2011-10-08,2011-10-01,2003-06-20,HarbourFront MRT Station (NE1)
26,HarbourFront,2011-10-08,2011-10-01,2011-10-08,HarbourFront MRT Station (CC29)
27,Jurong East,1990-03-10,1990-03-01,1990-03-10,Jurong East MRT Station (NS1)
28,Jurong East,1990-03-10,1990-03-01,1988-11-05,Jurong East MRT Station (EW24)
29,Little India,2015-12-27,2015-12-01,2003-06-20,Little India MRT Station (NE7)
30,Little India,2015-12-27,2015-12-01,2015-12-27,Little India MRT Station (DT12)
31,MacPherson,2017-10-21,2017-10-01,2010-04-17,MacPherson MRT Station (CC10)
32,MacPherson,2017-10-21,2017-10-01,2017-10-21,MacPherson MRT Station (DT26)
33,Marina Bay,2012-01-14,2012-01-01,1989-11-04,Marina Bay MRT Station (NS27)
34,Marina Bay,2012-01-14,2012-01-01,2012-01-14,Marina Bay MRT Station (CE2)
35,Marina Bay,2012-01-14,2012-01-01,2022-11-13,Marina Bay MRT Station (TE20)
36,Newton,2015-12-27,2015-12-01,1987-12-12,Newton MRT Station (NS21)
37,Newton,2015-12-27,2015-12-01,2015-12-27,Newton MRT Station (DT11)
38,Orchard,2022-11-13,2022-11-01,1987-12-12,Orchard MRT Station (NS22)
39,Orchard,2022-11-13,2022-11-01,2022-11-13,Orchard MRT Station (TE14)
40,Outram Park,2003-06-20,2003-06-01,1987-12-12,Outram Park MRT Station (EW16)
41,Outram Park,2003-06-20,2003-06-01,2003-06-20,Outram Park MRT Station (NE3)
42,Outram Park,2003-06-20,2003-06-01,2022-11-13,Outram Park MRT Station (TE17)
43,Paya Lebar,2010-04-17,2010-04-01,1989-11-04,Paya Lebar MRT Station (EW8)
44,Paya Lebar,2010-04-17,2010-04-01,2010-04-17,Paya Lebar MRT Station (CC9)
45,Promenade,2013-12-22,2013-12-01,2010-04-17,Promenade MRT Station (CC4)
46,Promenade,2013-12-22,2013-12-01,2013-12-22,Promenade MRT Station (DT15)
47,Punggol,2005-01-29,2005-01-01,2003-06-20,Punggol MRT Station (NE17)
48,Punggol,2005-01-29,2005-01-01,2005-01-29,Punggol LRT Station (PTC)
49,Raffles Place,1987-12-12,1987-12-01,1987-12-12,Raffles Place MRT Station (NS26)
50,Raffles Place,1987-12-12,1987-12-01,1987-12-12,Raffles Place MRT Station (EW14)
51,Sengkang,2003-06-20,2003-06-01,2003-06-20,Sengkang MRT Station (NE16)
52,Sengkang,2003-06-20,2003-06-01,2003-01-18,Sengkang LRT Station (STC)
53,Serangoon,2009-05-28,2009-05-01,2003-06-20,Serangoon MRT Station (NE12)
54,Serangoon,2009-05-28,2009-05-01,2009-05-28,Serangoon MRT Station (CC13)
55,Stevens,2022-11-13,2022-11-01,2015-12-27,Stevens MRT Station (DT10)
56,Stevens,2022-11-13,2022-11-01,2022-11-13,Stevens MRT Station (TE11)
57,Tampines,2017-10-21,2017-10-01,1989-12-16,Tampines MRT Station (EW2)
58,Tampines,2017-10-21,2017-10-01,2017-10-21,Tampines MRT Station (DT32)
59,Woodlands,2020-01-31,2020-01-01,1996-02-10,Woodlands MRT Station (NS9)
60,Woodlands,2020-01-31,2020-01-01,2020-01-31,Woodlands MRT Station (TE2)

In [49]:
# 5) Extract the flat resale records where their nearest stations is listed in df_interchange_merged['station_name_w_code']

flat_resale_interchange = flat_resale_cpi.loc[flat_resale_cpi['nearest_station'].isin(df_interchange_merged['station_name_w_code'].tolist())]

In [50]:
len(flat_resale_interchange)

162081

In [51]:
flat_resale_interchange.head()

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,resale_price,remaining_lease,row_id,address,latitude,longitude,geometry,nearest_station,station_distance,station_opening,station_closure,cpi_all_items,adjusted_resale_price,region
335,1990-01-01,BISHAN,3 ROOM,22,SIN MING RD,10 TO 12,68.0,Improved,1973,40000.0,82,335,22 SIN MING RD,1.357284,103.839397,POINT (28676.423 37707.134),Bishan MRT Station (NS17),1206.482054,1987-11-07,NaT,62.0,64516.129032,Central
336,1990-01-01,BISHAN,3 ROOM,22,SIN MING RD,10 TO 12,67.0,Improved,1973,39000.0,82,336,22 SIN MING RD,1.357284,103.839397,POINT (28676.423 37707.134),Bishan MRT Station (NS17),1206.482054,1987-11-07,NaT,62.0,62903.225806,Central
337,1990-01-01,BISHAN,3 ROOM,24,SIN MING RD,04 TO 06,65.0,Improved,1973,40000.0,82,337,24 SIN MING RD,1.355187,103.836338,POINT (28336.026 37475.206),Bishan MRT Station (NS17),1399.072461,1987-11-07,NaT,62.0,64516.129032,Central
338,1990-01-01,BISHAN,3 ROOM,309,SHUNFU RD,04 TO 06,67.0,New Generation,1984,52900.0,93,338,309 SHUNFU RD,1.350913,103.837585,POINT (28474.822 37002.608),Bishan MRT Station (NS17),1175.104995,1987-11-07,NaT,62.0,85322.580645,Central
339,1990-01-01,BISHAN,3 ROOM,304,SHUNFU RD,07 TO 09,67.0,New Generation,1985,59800.0,94,339,304 SHUNFU RD,1.350122,103.837942,POINT (28514.578 36915.115),Bishan MRT Station (NS17),1138.088016,1987-11-07,NaT,62.0,96451.612903,Central

In [53]:
flat_resale_interchange.drop(columns = ['town', 'flat_type', 'block', 'street_name', 'storey_range', 'floor_area_sqm', 
                                        'flat_model', 'lease_commence_date', 'resale_price', 'remaining_lease', 'address', 
                                        'latitude', 'longitude', 'geometry', 'station_distance', 'station_opening', 
                                        'station_closure', 'cpi_all_items', 'adjusted_resale_price', 'region'], 
                             inplace = True)

C:\Users\saich\AppData\Local\Temp\ipykernel_13780\12446257.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  flat_resale_interchange.drop(columns = ['town', 'flat_type', 'block', 'street_name', 'storey_range', 'floor_area_sqm',

In [54]:
flat_resale_interchange.head()

         month  row_id            nearest_station
335 1990-01-01     335  Bishan MRT Station (NS17)
336 1990-01-01     336  Bishan MRT Station (NS17)
337 1990-01-01     337  Bishan MRT Station (NS17)
338 1990-01-01     338  Bishan MRT Station (NS17)
339 1990-01-01     339  Bishan MRT Station (NS17)

In [55]:
# 6) Determine if the nearest station in 'flat_resale_interchange' has become an interchange in their transaction 'month'

interchange_flag_list = []

for i, row in flat_resale_interchange.iterrows(): 
    if (row['month'] >= df_interchange_merged.loc[df_interchange_merged['station_name_w_code'] == row['nearest_station']]['date_become_interchange_yymm']).item(): 
        interchange_flag_list.append('station interchange')
    else: 
        interchange_flag_list.append('normal station')

In [56]:
len(interchange_flag_list)

162081

In [57]:
# Create a new column 'interchange_flag' for 'flat_resale_interchange' using 'interchange_flag_list'
flat_resale_interchange['interchange_flag'] = interchange_flag_list

C:\Users\saich\anaconda3\envs\geo_env\Lib\site-packages\geopandas\geodataframe.py:1543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)

In [58]:
# Verify the changes
flat_resale_interchange['interchange_flag'].value_counts(dropna = False)

interchange_flag
normal station         120844
station interchange     41237
Name: count, dtype: int64

In [59]:
flat_resale_interchange.head()

         month  row_id            nearest_station interchange_flag
335 1990-01-01     335  Bishan MRT Station (NS17)   normal station
336 1990-01-01     336  Bishan MRT Station (NS17)   normal station
337 1990-01-01     337  Bishan MRT Station (NS17)   normal station
338 1990-01-01     338  Bishan MRT Station (NS17)   normal station
339 1990-01-01     339  Bishan MRT Station (NS17)   normal station

In [60]:
# 7) Merge 'flat_resale_interchange' with the initial 'flat_resale_cpi'

flat_resale_merged = flat_resale_cpi.merge(flat_resale_interchange, on = ['month', 'row_id', 'nearest_station'], how = 'left')

In [61]:
flat_resale_merged.head()

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,resale_price,remaining_lease,row_id,address,latitude,longitude,geometry,nearest_station,station_distance,station_opening,station_closure,cpi_all_items,adjusted_resale_price,region,interchange_flag
0,1990-01-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,10 TO 12,31.0,Improved,1977,9000.0,86,0,309 ANG MO KIO AVE 1,1.365517,103.843968,POINT (29185.176 38617.449),Ang Mo Kio MRT Station (NS16),790.831215,1987-11-07,NaT,62.0,14516.129032,North East,NaN
1,1990-01-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,04 TO 06,31.0,Improved,1977,6000.0,86,1,309 ANG MO KIO AVE 1,1.365517,103.843968,POINT (29185.176 38617.449),Ang Mo Kio MRT Station (NS16),790.831215,1987-11-07,NaT,62.0,9677.419355,North East,NaN
2,1990-01-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,10 TO 12,31.0,Improved,1977,8000.0,86,2,309 ANG MO KIO AVE 1,1.365517,103.843968,POINT (29185.176 38617.449),Ang Mo Kio MRT Station (NS16),790.831215,1987-11-07,NaT,62.0,12903.225806,North East,NaN
3,1990-01-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,07 TO 09,31.0,Improved,1977,6000.0,86,3,309 ANG MO KIO AVE 1,1.365517,103.843968,POINT (29185.176 38617.449),Ang Mo Kio MRT Station (NS16),790.831215,1987-11-07,NaT,62.0,9677.419355,North East,NaN
4,1990-01-01,ANG MO KIO,3 ROOM,216,ANG MO KIO AVE 1,04 TO 06,73.0,New Generation,1976,47200.0,85,4,216 ANG MO KIO AVE 1,1.366197,103.841505,POINT (28911.052 38692.617),Ang Mo Kio MRT Station (NS16),986.842379,1987-11-07,NaT,62.0,76129.032258,North East,NaN

In [62]:
flat_resale_merged['interchange_flag'].value_counts(dropna = False)

interchange_flag
NaN                    753290
normal station         120844
station interchange     41237
Name: count, dtype: int64

The records that have missing values in 'interchange_flag' column is normal because their nearest station is not inside the interchange list, and therefore not included in 'flat_resale_interchange'. They should all be normal station in this column.

In [63]:
# Fill the missing values in 'interchange_flag' column with value 'normal station'
flat_resale_merged['interchange_flag'].fillna('normal station', inplace = True)

In [64]:
# Verify the changes
flat_resale_merged['interchange_flag'].value_counts(dropna = False)

interchange_flag
normal station         874134
station interchange     41237
Name: count, dtype: int64

In [65]:
flat_resale_merged.head()

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,resale_price,remaining_lease,row_id,address,latitude,longitude,geometry,nearest_station,station_distance,station_opening,station_closure,cpi_all_items,adjusted_resale_price,region,interchange_flag
0,1990-01-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,10 TO 12,31.0,Improved,1977,9000.0,86,0,309 ANG MO KIO AVE 1,1.365517,103.843968,POINT (29185.176 38617.449),Ang Mo Kio MRT Station (NS16),790.831215,1987-11-07,NaT,62.0,14516.129032,North East,normal station
1,1990-01-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,04 TO 06,31.0,Improved,1977,6000.0,86,1,309 ANG MO KIO AVE 1,1.365517,103.843968,POINT (29185.176 38617.449),Ang Mo Kio MRT Station (NS16),790.831215,1987-11-07,NaT,62.0,9677.419355,North East,normal station
2,1990-01-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,10 TO 12,31.0,Improved,1977,8000.0,86,2,309 ANG MO KIO AVE 1,1.365517,103.843968,POINT (29185.176 38617.449),Ang Mo Kio MRT Station (NS16),790.831215,1987-11-07,NaT,62.0,12903.225806,North East,normal station
3,1990-01-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,07 TO 09,31.0,Improved,1977,6000.0,86,3,309 ANG MO KIO AVE 1,1.365517,103.843968,POINT (29185.176 38617.449),Ang Mo Kio MRT Station (NS16),790.831215,1987-11-07,NaT,62.0,9677.419355,North East,normal station
4,1990-01-01,ANG MO KIO,3 ROOM,216,ANG MO KIO AVE 1,04 TO 06,73.0,New Generation,1976,47200.0,85,4,216 ANG MO KIO AVE 1,1.366197,103.841505,POINT (28911.052 38692.617),Ang Mo Kio MRT Station (NS16),986.842379,1987-11-07,NaT,62.0,76129.032258,North East,normal station

In [66]:
flat_resale_merged.shape

(915371, 24)

### 04.4 storey_range_midpoint

The existing variable 'storey_range' is a quantitative variable. We could convert it to quantitative by assigning the midpoint value to each range.

In [67]:
flat_resale_merged['storey_range'].value_counts(dropna = False).sort_index()

storey_range
01 TO 03    185921
04 TO 06    231460
07 TO 09    209142
10 TO 12    177723
13 TO 15     61644
16 TO 18     23824
19 TO 21     11311
22 TO 24      7347
25 TO 27      3371
28 TO 30      1615
31 TO 33       593
34 TO 36       555
37 TO 39       499
40 TO 42       237
43 TO 45        64
46 TO 48        48
49 TO 51        17
Name: count, dtype: int64

In [68]:
# 1) Create a list that contains the distinct values of storey range
storey_range_list = list(set(flat_resale_merged['storey_range'].to_list()))
storey_range_list.sort()
storey_range_list

['01 TO 03',
 '04 TO 06',
 '07 TO 09',
 '10 TO 12',
 '13 TO 15',
 '16 TO 18',
 '19 TO 21',
 '22 TO 24',
 '25 TO 27',
 '28 TO 30',
 '31 TO 33',
 '34 TO 36',
 '37 TO 39',
 '40 TO 42',
 '43 TO 45',
 '46 TO 48',
 '49 TO 51']

In [69]:
# 2) Create a list that contains the average value of each storey range

storey_range_midpoint_list = [2, 5, 8, 11, 14, 17, 20, 23, 26, 29, 32, 35, 38, 41, 44, 47, 50]

In [70]:
# 3) Create a dataframe using the two lists
df_storey_range_midpoint = pd.DataFrame({'storey_range' : storey_range_list, 
                                    'storey_range_midpoint' : storey_range_midpoint_list})

In [71]:
df_storey_range_midpoint

   storey_range  storey_range_midpoint
0      01 TO 03                      2
1      04 TO 06                      5
2      07 TO 09                      8
3      10 TO 12                     11
4      13 TO 15                     14
5      16 TO 18                     17
6      19 TO 21                     20
7      22 TO 24                     23
8      25 TO 27                     26
9      28 TO 30                     29
10     31 TO 33                     32
11     34 TO 36                     35
12     37 TO 39                     38
13     40 TO 42                     41
14     43 TO 45                     44
15     46 TO 48                     47
16     49 TO 51                     50

In [72]:
# 4) Merge 'df_storey_range_midpoint' with 'flat_resale_merged_2'

flat_resale_merged_2 = flat_resale_merged.merge(df_storey_range_midpoint, on = 'storey_range', how = 'left', indicator = True)

In [73]:
# 5) Verify the changes

flat_resale_merged_2.head()

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,resale_price,remaining_lease,row_id,address,latitude,longitude,geometry,nearest_station,station_distance,station_opening,station_closure,cpi_all_items,adjusted_resale_price,region,interchange_flag,storey_range_midpoint,_merge
0,1990-01-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,10 TO 12,31.0,Improved,1977,9000.0,86,0,309 ANG MO KIO AVE 1,1.365517,103.843968,POINT (29185.176 38617.449),Ang Mo Kio MRT Station (NS16),790.831215,1987-11-07,NaT,62.0,14516.129032,North East,normal station,11,both
1,1990-01-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,04 TO 06,31.0,Improved,1977,6000.0,86,1,309 ANG MO KIO AVE 1,1.365517,103.843968,POINT (29185.176 38617.449),Ang Mo Kio MRT Station (NS16),790.831215,1987-11-07,NaT,62.0,9677.419355,North East,normal station,5,both
2,1990-01-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,10 TO 12,31.0,Improved,1977,8000.0,86,2,309 ANG MO KIO AVE 1,1.365517,103.843968,POINT (29185.176 38617.449),Ang Mo Kio MRT Station (NS16),790.831215,1987-11-07,NaT,62.0,12903.225806,North East,normal station,11,both
3,1990-01-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,07 TO 09,31.0,Improved,1977,6000.0,86,3,309 ANG MO KIO AVE 1,1.365517,103.843968,POINT (29185.176 38617.449),Ang Mo Kio MRT Station (NS16),790.831215,1987-11-07,NaT,62.0,9677.419355,North East,normal station,8,both
4,1990-01-01,ANG MO KIO,3 ROOM,216,ANG MO KIO AVE 1,04 TO 06,73.0,New Generation,1976,47200.0,85,4,216 ANG MO KIO AVE 1,1.366197,103.841505,POINT (28911.052 38692.617),Ang Mo Kio MRT Station (NS16),986.842379,1987-11-07,NaT,62.0,76129.032258,North East,normal station,5,both

In [74]:
flat_resale_merged_2['_merge'].value_counts(dropna = False)

_merge
both          915371
left_only          0
right_only         0
Name: count, dtype: int64

In [75]:
# Verify the min and max of the midpoint values for each storey range
flat_resale_merged_2.groupby(['storey_range']).agg({'storey_range_midpoint': ['min', 'max']})

             storey_range_midpoint
                               min max
storey_range
01 TO 03                         2   2
04 TO 06                         5   5
07 TO 09                         8   8
10 TO 12                        11  11
13 TO 15                        14  14
16 TO 18                        17  17
19 TO 21                        20  20
22 TO 24                        23  23
25 TO 27                        26  26
28 TO 30                        29  29
31 TO 33                        32  32
34 TO 36                        35  35
37 TO 39                        38  38
40 TO 42                        41  41
43 TO 45                        44  44
46 TO 48                        47  47
49 TO 51                        50  50

In [76]:
# 6) Remove the column '_merge'

flat_resale_merged_2.drop(columns = ['_merge'], inplace = True)

In [77]:
flat_resale_merged_2.head()

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,resale_price,remaining_lease,row_id,address,latitude,longitude,geometry,nearest_station,station_distance,station_opening,station_closure,cpi_all_items,adjusted_resale_price,region,interchange_flag,storey_range_midpoint
0,1990-01-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,10 TO 12,31.0,Improved,1977,9000.0,86,0,309 ANG MO KIO AVE 1,1.365517,103.843968,POINT (29185.176 38617.449),Ang Mo Kio MRT Station (NS16),790.831215,1987-11-07,NaT,62.0,14516.129032,North East,normal station,11
1,1990-01-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,04 TO 06,31.0,Improved,1977,6000.0,86,1,309 ANG MO KIO AVE 1,1.365517,103.843968,POINT (29185.176 38617.449),Ang Mo Kio MRT Station (NS16),790.831215,1987-11-07,NaT,62.0,9677.419355,North East,normal station,5
2,1990-01-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,10 TO 12,31.0,Improved,1977,8000.0,86,2,309 ANG MO KIO AVE 1,1.365517,103.843968,POINT (29185.176 38617.449),Ang Mo Kio MRT Station (NS16),790.831215,1987-11-07,NaT,62.0,12903.225806,North East,normal station,11
3,1990-01-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,07 TO 09,31.0,Improved,1977,6000.0,86,3,309 ANG MO KIO AVE 1,1.365517,103.843968,POINT (29185.176 38617.449),Ang Mo Kio MRT Station (NS16),790.831215,1987-11-07,NaT,62.0,9677.419355,North East,normal station,8
4,1990-01-01,ANG MO KIO,3 ROOM,216,ANG MO KIO AVE 1,04 TO 06,73.0,New Generation,1976,47200.0,85,4,216 ANG MO KIO AVE 1,1.366197,103.841505,POINT (28911.052 38692.617),Ang Mo Kio MRT Station (NS16),986.842379,1987-11-07,NaT,62.0,76129.032258,North East,normal station,5

In [78]:
flat_resale_merged_2.shape

(915371, 25)

# 05. Change Data Types to Save Memory

In [79]:
flat_resale_merged_2.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 915371 entries, 0 to 915370
Data columns (total 25 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   month                  915371 non-null  datetime64[ns]
 1   town                   915371 non-null  object
 2   flat_type              915371 non-null  object
 3   block                  915371 non-null  object
 4   street_name            915371 non-null  object
 5   storey_range           915371 non-null  object
 6   floor_area_sqm         915371 non-null  float64
 7   flat_model             915371 non-null  object
 8   lease_commence_date    915371 non-null  int64
 9   resale_price           915371 non-null  float64
 10  remaining_lease        915371 non-null  int64
 11  row_id                 915371 non-null  int64
 12  address                915371 non-null  object
 13  latitude               915371 non-null  float64
 14  longitude              915371 non-null  float64
 15  geometry               915371 non-null  geometry
 16  nearest_station        915371 non-null  object
 17  station_distance       915371 non-null  float64
 18  station_opening        915371 non-null  datetime64[ns]
 19  station_closure        522 non-null     datetime64[ns]
 20  cpi_all_items          915371 non-null  float64
 21  adjusted_resale_price  915371 non-null  float64
 22  region                 915371 non-null  object
 23  interchange_flag       915371 non-null  object
 24  storey_range_midpoint  915371 non-null  int64
dtypes: datetime64[ns](3), float64(7), geometry(1), int64(4), object(10)
memory usage: 174.6+ MB

In [80]:
flat_resale_merged_2['lease_commence_date'] = flat_resale_merged_2['lease_commence_date'].astype('int16')
flat_resale_merged_2['remaining_lease'] = flat_resale_merged_2['remaining_lease'].astype('int8')
flat_resale_merged_2['row_id'] = flat_resale_merged_2['row_id'].astype('int32')
flat_resale_merged_2['storey_range_midpoint'] = flat_resale_merged_2['storey_range_midpoint'].astype('int8')

In [81]:
# After changes

flat_resale_merged_2.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 915371 entries, 0 to 915370
Data columns (total 25 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   month                  915371 non-null  datetime64[ns]
 1   town                   915371 non-null  object
 2   flat_type              915371 non-null  object
 3   block                  915371 non-null  object
 4   street_name            915371 non-null  object
 5   storey_range           915371 non-null  object
 6   floor_area_sqm         915371 non-null  float64
 7   flat_model             915371 non-null  object
 8   lease_commence_date    915371 non-null  int16
 9   resale_price           915371 non-null  float64
 10  remaining_lease        915371 non-null  int8
 11  row_id                 915371 non-null  int32
 12  address                915371 non-null  object
 13  latitude               915371 non-null  float64
 14  longitude              915371 non-null  float64
 15  geometry               915371 non-null  geometry
 16  nearest_station        915371 non-null  object
 17  station_distance       915371 non-null  float64
 18  station_opening        915371 non-null  datetime64[ns]
 19  station_closure        522 non-null     datetime64[ns]
 20  cpi_all_items          915371 non-null  float64
 21  adjusted_resale_price  915371 non-null  float64
 22  region                 915371 non-null  object
 23  interchange_flag       915371 non-null  object
 24  storey_range_midpoint  915371 non-null  int8
dtypes: datetime64[ns](3), float64(7), geometry(1), int16(1), int32(1), int8(2), object(10)
memory usage: 153.6+ MB

# 06. Export Data

In [82]:
# Export 'flat_resale_merged' to 'Prepared Data' folder in pkl format
flat_resale_merged_2.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'flat_resale_all_w_cpi (geodata).pkl'))